
/* 컨테이너 스타일링 */
.container.mt-5 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 50px 20px;
    margin-top: 20px;
}
.user-mypage{
    border: none;
}
.user-mypage h1{
    font-size: 22px;
    font-width: 700;
}
#profile-view-card{
    border: none;

}
.user-mypage .card-header{
    padding: 20px;
    color: #fff;
    background: #ffa75b;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.user-mypage .card-body{
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* 제목 스타일링 */
h2 {
    color: #333;
    font-size: 24px;
}

/* 드롭다운 및 체크박스 그룹 스타일링 */
.form-write-group {
    margin-top: 20px;
}

.dropdown, .form-check {
    margin-bottom: 10px;
}

/* 드롭다운 버튼 스타일링 */
.dropdown-toggle {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    color: #495057;
}

/* 텍스트 입력 필드 스타일링 */
textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* 버튼 스타일링 */
.btn-primary {
    background-color: #FFA45B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}
.btn-primary:hover{
    background-color: #fd780f;
}