/* 로그인 페이지 스타일 */
.login-wrap {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 50px auto;
}

.login-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.login-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-toggle button {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    outline: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.login-toggle button.login-active {
    background-color: #e6f4f1;
    border: 1px solid #008584;
    color: #008584;
}

.login-group {
    text-align: left;
    margin-bottom: 1rem;
}

.login-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 13px;
}

.login-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-group input:focus {
    border-color: #FD780F;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.login-btn:hover {
    /*background-color: #008584; !* 밝기 조정된 색상으로 수정 *!*/
    background: #FD780F;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    padding: 20px 30px;
}

.login-links a {
    /*color: #008584;*/
    text-decoration: none;
    font-size: 0.875rem;
}

.login-links a:hover {
    text-decoration: underline;
}

.login-social {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.login-social a {
    margin: 0 0.5rem;
}

.login-social img {

}

.easy-login-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.easy-login-wrapper a {
    display: flex;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    position: relative;
    background: #ffeb00;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.easy-login-wrapper a.naver {
    background: #03c75a;
}

.easy-login-wrapper a img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.easy-login-wrapper a.naver img {

}

.login-modal {
    position: relative;
    width: 100%;
    min-height: 70vh;
    margin: 50px 0;
}

.login-modal-body {
    height: 570px;
    width: 400px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.login-slide-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.login-slide-content > div {
    width: 400px;
    padding: 20px;
    position: relative;
}

.login-slide-content {
    display: flex;
    position: absolute;
    top: 0;
    left: -400px;
    flex-wrap: nowrap;
    flex-direction: row;
    background: #fff;
}

.left {
}

.mid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
}

button.login-type {
    background: none;
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 15px;
    border: none;
    height: 200px;
    color: #fff;
    transition: 0.3s ease;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #FD780F;
}

button.login-type span {
    color: #000;
}

button.login-type span.head {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffa75b;
}

button.login-type span.body {
}

.mid button.login-type:nth-child(2) {
    margin-bottom: 0;
}

button.login-type:hover {
    background: #FD780F;
}

button.login-type:hover span {
    color: #fff;
}

.right {
}

.login-type-head {
    font-weight: 700;
    margin-bottom: 20px;
    color: #FD780F;
}

button.back {
    position: absolute;
    top: -40px;
    right: 20px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: none;
    transition: 0.2s ease;
    border-radius: 5px;
}

button.back.left-for-mid {
}

button.back.right-for-mid {
    right: inherit;
}

button.back:hover {
    background: #FD780F;
}

button.back:hover i {
}

button.back i {
    color: #fff;
}

button.back.right-for-mid i {
    transform: rotate(180deg);
}