/* 로그인 페이지 스타일 */
.login-wrap {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 50px auto;
}

.login-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.login-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-toggle button {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    outline: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.login-toggle button.login-active {
    background-color: #e6f4f1;
    border: 1px solid #008584;
    color: #008584;
}

.login-group {
    text-align: left;
    margin-bottom: 1rem;
}

.login-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-group input:focus {
    border-color: #008584;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #008584;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #008584; /* 밝기 조정된 색상으로 수정 */
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.login-links a {
    color: #008584;
    text-decoration: none;
    font-size: 0.875rem;
}

.login-links a:hover {
    text-decoration: underline;
}

.login-social {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.login-social a {
    margin: 0 0.5rem;
}

.login-social img {
    width: 40px;
    height: 40px;
}
