<style>
    .pagination button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .pagination button:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .pagination .page-item {
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
    }

    .pagination .page-item.active .page-link {
        font-weight: bold;
        text-decoration: underline;
    }
</style>
<div class="mypage-wrap user-mypage" id="community-activity">
    <div class="mypage-title">내 커뮤니티 활동</div>
    <div class="mypage-toggle toggle-community">
        <button class="active" data-tab="my-stories">나의 사연</button>
        <button data-tab="my-comments">나의 댓글</button>
        <button data-tab="my-review">나의 리뷰</button>
    </div>

    <div class="mypage-tab-content active" id="my-stories">
        <div class="mypage-card-container" id="comm-posts-container">
            <!-- Content for '나의 사연' -->
        </div>
        <div class="d-flex justify-content-center">
            <ul class="pagination my-3" id="pagination-stories">
                <!-- Pagination for '나의 사연' -->
            </ul>
        </div>
    </div>

    <div class="mypage-tab-content" id="my-comments">
        <div class="mypage-card-container" id="comments-container">
            <!-- Content for '나의 댓글' -->
        </div>
        <div class="d-flex justify-content-center">
            <ul class="pagination my-3" id="pagination-comments">
                <!-- Pagination for '나의 댓글' -->
            </ul>
        </div>
    </div>

    <div class="mypage-tab-content" id="my-review">
        <div class="mypage-card-container" id="reviews-container">
            <!-- Content for '나의 리뷰' -->
        </div>
        <div class="d-flex justify-content-center">
            <ul class="pagination my-3" id="pagination-reviews">
                <!-- Pagination for '나의 리뷰' -->
            </ul>
        </div>
    </div>
</div>

<script>
    let currentPageStories = 0;
    let currentPageComments = 0;
    let currentPageReviews = 0;
    const userId = `{{model.user.id}}`; // 실제 사용자 ID로 교체

    // 초기 로드
    fetchCommPosts(currentPageStories);
    fetchComments(currentPageComments);
    fetchReviews(currentPageReviews);

    function changePageStories(page) {
        if (page >= 0) {
            currentPageStories = page;
            fetchCommPosts(currentPageStories);
        }
    }

    function changePageComments(page) {
        if (page >= 0) {
            currentPageComments = page;
            fetchComments(currentPageComments);
        }
    }

    function changePageReviews(page) {
        if (page >= 0) {
            currentPageReviews = page;
            fetchReviews(currentPageReviews);
        }
    }

    function fetchCommPosts(page) {
        $.ajax({
            url: `/client/mypage/commPosts`,
            method: 'GET',
            data: {
                userId: userId,
                page: page
            },
            success: function (data) {
                updateCommPosts(data.content);
                updatePagination(data, 'stories');
            },
            error: function (error) {
                console.error('Error fetching page info:', error);
            }
        });
    }

    function fetchComments(page) {
        $.ajax({
            url: `/client/mypage/replies`,
            method: 'GET',
            data: {
                userId: userId,
                page: page
            },
            success: function (data) {
                updateComments(data.content);
                updatePagination(data, 'comments');
            },
            error: function (error) {
                console.error('Error fetching page info:', error);
            }
        });
    }

    function fetchReviews(page) {
        $.ajax({
            url: `/client/mypage/reviews`,
            method: 'GET',
            data: {
                userId: userId,
                page: page
            },
            success: function (data) {
                updateReviews(data.content);
                updatePagination(data, 'reviews');
            },
            error: function (error) {
                console.error('Error fetching page info:', error);
            }
        });
    }

    function updateCommPosts(commPosts) {
        const container = $('#comm-posts-container');
        container.empty();
        commPosts.forEach(post => {
            const postElement = `
<form action="/comm-detail/${post.id}" method="GET" class="comm-delete-form">
    <div class="user-mypage post" data-post-id="my-board" onclick="this.closest('form').submit();">
        <div class="post-header">
            <span class="post-category">${post.category} ·
                <img src="${post.profileImage}" alt="Profile Picture" class="post-profile-image">
                <span class="username">${post.name}</span>
            </span>
        </div>
        <div class="post-body">
            <h5 class="post-title">${post.title}</h5>
            <p class="post-content">${post.content}</p>
        </div>
        <div class="post-footer">
            <span class="post-meta">
                <span>
                    <i class="far fa-comment"></i>
                    <span>${post.repliesSize}</span>
                </span>
            </span>
        </div>
    </div>
</form>
        `;
            container.append(postElement);
        });
    }

    function updateComments(comments) {
        console.log('댓글', comments);
        const container = $('#comments-container');
        container.empty();
        comments.forEach(comment => {
            const commentElement = `
<form action="/comm-detail/${comment.commId}" method="GET" class="comm-delete-form">
                <div class="user-mypage post" data-post-id="my-board" onclick="this.closest('form').submit();">
                    <div class="post-header">
                        <span class="post-category">${comment.category} ·
                            <img src="${comment.profileImage}" alt="Profile Picture" class="post-profile-image">
                            <span class="username">${comment.name}</span>
                        </span>
                    </div>
                    <div class="post-body">
                        <p class="post-content">${comment.content}</p>
                    </div>
                </div>
</form>

            `;
            container.append(commentElement);
        });
    }

    function updateReviews(reviews) {
        console.log('리뷰', reviews);
        const container = $('#reviews-container');
        container.empty();
        reviews.forEach(review => {
            const reviewElement = `
<form action="/client/findExpert/detail/${review.expertId}" method="GET" class="comm-delete-form">
                <div class="user-mypage post" data-post-id="my-board" onclick="this.closest('form').submit();">
                    <div class="post-header">
                        <span class="post-category">
                            <img src="${review.profileImage}" alt="Profile Picture" class="post-profile-image">
                            <span class="username">${review.expertName}상담사·</span>
                            <span class="post-category">${review.voucherCont}회권·</span>
                            <span class="post-category">${review.score}점</span>
                        </span>
                    </div>
                    <div class="post-body">
                        <h5 class="post-title">${review.voucherType}</h5>
                        <p class="post-content">${review.content}</p>
                    </div>
                </div>
            `;
            container.append(reviewElement);
        });
    }

    function updatePagination(pageData, type) {
        const pagination = $(`#pagination-${type}`);
        pagination.empty();

        const prevButton = $('<li>')
                .addClass('page-item')
                .append(
                        $('<button>')
                                .addClass('page-link')
                                .html('Previous')
                                .prop('disabled', pageData.first)
                                .click(() => {
                                    if (type === 'stories') changePageStories(pageData.number - 1);
                                    else if (type === 'comments') changePageComments(pageData.number - 1);
                                    else if (type === 'reviews') changePageReviews(pageData.number - 1);
                                })
                );
        pagination.append(prevButton);

        for (let i = 0; i < pageData.totalPages; i++) {
            const pageItem = $('<li>')
                    .addClass('page-item')
                    .toggleClass('active', i === pageData.number)
                    .append(
                            $('<button>')
                                    .addClass('page-link')
                                    .text(i + 1)
                                    .click(() => {
                                        if (type === 'stories') changePageStories(i);
                                        else if (type === 'comments') changePageComments(i);
                                        else if (type === 'reviews') changePageReviews(i);
                                    })
                    );
            pagination.append(pageItem);
        }

        const nextButton = $('<li>')
                .addClass('page-item')
                .append(
                        $('<button>')
                                .addClass('page-link')
                                .html('Next')
                                .prop('disabled', pageData.last)
                                .click(() => {
                                    if (type === 'stories') changePageStories(pageData.number + 1);
                                    else if (type === 'comments') changePageComments(pageData.number + 1);
                                    else if (type === 'reviews') changePageReviews(pageData.number + 1);
                                })
                );
        pagination.append(nextButton);
    }

    document.querySelectorAll('.toggle-community button').forEach(button => {
        button.addEventListener('click', () => {
            const tab = button.getAttribute('data-tab');

            document.querySelectorAll('.toggle-community button').forEach(btn => btn.classList.remove('active'));
            button.classList.add('active');

            document.querySelectorAll('#community-activity .mypage-tab-content').forEach(content => {
                content.classList.remove('active');
                if (content.getAttribute('id') === tab) {
                    content.classList.add('active');
                }
            });
        });
    });
</script>
