<div class="card mb-4" id="profile-view-card">
    <div class="card-header">프로필</div>
    <div class="card-body">
        <div id="profile-view" class="profile-container">
            <div class="profile-image-wrapper">
                <img src="{{user.profileImage}}" alt="Profile Picture" class="profile-image"
                     id="profileImageView">
            </div>
            <div class="profile-details">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="font-weight-bold">닉네임 :</div>
                        <div id="username">{{user.name}}</div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="font-weight-bold">이메일 :</div>
                        <div><i class="fas fa-envelope"></i> <span id="email">{{user.email}}</span></div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="font-weight-bold">출생 연도 :</div>
                        <div id="birth-year">{{user.birth}}</div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="font-weight-bold">성별 :</div>
                        <div id="gender">{{user.gender}}</div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-outline-secondary" id="editProfile"><i class="fas fa-edit"></i> 수정
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 프로필 수정 -->
<div class="card mb-4 d-none" id="profile-edit-card">
    <div class="card-header">프로필 수정</div>
    <div class="card-body">
        <div id="profile-edit" class="profile-edit-container">
            <div class="profile-image-wrapper">
                <input type="file" id="profileImageInput" class="d-none">
                <img src="{{user.profileImage}}" alt="Profile Picture" class="profile-image"
                     id="profileImageEdit">
                <span class="edit-icon"><i class="fas fa-pen"></i></span>
            </div>
            <div class="profile-details border">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="font-weight-bold">닉네임 :</div>
                        <input type="text" id="edit-cline-name" class="form-control" value="{{user.name}}">
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="font-weight-bold">이메일 :</div>
                        <p class="card-text"><i class="fas fa-envelope"></i> {{user.email}}</p>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="font-weight-bold">출생 연도 :</div>
                        <select id="edit-birth-year" class="form-control">
                            <!-- JavaScript를 통해 옵션 추가 -->
                        </select>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="font-weight-bold">성별 :</div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="gender" id="male" value="남성">
                            <label class="form-check-label" for="male">남성</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="gender" id="female" value="여성">
                            <label class="form-check-label" for="female">여성</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="gender" id="other" value="기타"
                                   checked>
                            <label class="form-check-label" for="other">기타</label>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-outline-secondary" id="cancelEdit">취소</button>
                    <button class="btn btn-outline-primary" id="saveProfile">저장</button>
                </div>
            </div>
        </div>
    </div>
</div>