<div class="mypage-wrap" id="reservation-management">
    <div class="mypage-title">상담 및 예약 관리</div>
    <div class="mypage-toggle toggle-reservation">
        <button class="active" data-tab="progress-reservation">상담 및 예약 일정</button>
        <button data-tab="completed-counsel">상담 내역</button>
    </div>

    <div class="mypage-tab-content active" id="progress-reservation">
        <div class="mypage-card-container">
            {{#progressReservations}}
                <div class="mypage-card">
                    <div class="mypage-card-body">
                        <h5 class="mypage-card-title">{{voucherType}}</h5>
                        <p class="mypage-card-text mx-5">시작 시간: <span>{{startTime}}</span></p>
                        <p class="mypage-card-text">상담 날짜: <span>{{reservationDate}}</span></p>
                        <p class="mypage-card-text mx-5">상태: <span>{{status}}</span></p>
                    </div>
                    <form action="/counsel" method="GET">
                        <input type="hidden" name="counselId" value="{{id}}">
                        <input type="hidden" name="userId" value="{{clientId}}">
                        <input type="hidden" name="voucherType" value="{{voucherType}}">
                        <input type="hidden" name="reservationDate" value="{{reservationDate}}">
                        <input type="hidden" name="startTime" value="{{startTime}}">
                        <button class="btn btn-outline-success mypage-btn-small">상담하기</button>
                    </form>
                </div>
            {{/progressReservations}}
        </div>
    </div>

    <div class="mypage-tab-content" id="completed-counsel">
        <div class="mypage-card-container">
            {{#completedCounsels}}
                <div class="mypage-card">
                    <div class="mypage-card-body">
                        <h5 class="mypage-card-title">{{voucherType}}</h5>
                        <p class="mypage-card-text mx-5">상담 날짜: <span>{{counselDate}}</span></p>
                        <p class="mypage-card-text">상태: <span>{{state}}</span></p>
                    </div>
                    <form action="/reviewForm" method="get">
                        <input type="hidden" name="expertId" value="{{expertId}}">
                        <input type="hidden" name="clientId" value="{{clientId}}">
                        <input type="hidden" name="counselId" value="{{id}}">
                        <input type="hidden" name="voucherType" value="{{voucherType}}">
                        <input type="hidden" name="counselDate" value="{{counselDate}}">
                        {{#isReview}}
                            <button class="btn btn-outline-success mypage-btn-small" disabled>리뷰 작성</button>
                        {{/isReview}}
                        {{^isReview}}
                            <button class="btn btn-outline-success mypage-btn-small">리뷰 작성</button>
                        {{/isReview}}
                    </form>
                </div>
            {{/completedCounsels}}
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.toggle-reservation button').forEach(button => {
        button.addEventListener('click', () => {
            const tab = button.getAttribute('data-tab');

            document.querySelectorAll('.toggle-reservation button').forEach(btn => btn.classList.remove('active'));
            button.classList.add('active');

            document.querySelectorAll('#reservation-management .mypage-tab-content').forEach(content => {
                content.classList.remove('active');
                if (content.getAttribute('id') === tab) {
                    content.classList.add('active');
                }
            });
        });
    });
</script>
