<!-- 헤더 시작 -->
<header class="header-ex">
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="logo">
                    <a href="/">
                        <img src="/images/main_logo.svg" alt="Main Logo">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/comm">커뮤니티</a></li>
                        <li><a href="/client/findExpert">전문가 찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                {{#sessionUser}}
                    <ul>
                        <li><a href="/logout">로그아웃</a></li>
                        <li class="bell-dropdown">
                            <a href="#!" class="icon bell-icon"><i class="fa-regular fa-bell"></i></a>
                            <span class="alarm-count count-hidden" id="notification-count"></span>
                            <!--                            <ul class="dropdown-menu">-->
                            <!--                                <li>-->
                            <!--                                    <a class="dropdown-item" type="button">Action</a>-->
                            <!--                                </li>-->
                            <!--                                <li>-->
                            <!--                                    <a class="dropdown-item" type="button">Another action</a>-->
                            <!--                                </li>-->
                            <!--                                <li>-->
                            <!--                                    <a class="dropdown-item" type="button">Something else here</a>-->
                            <!--                                </li>-->
                            <!--                            </ul>-->
                        </li>
                        <li><a href="/client/mypage" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                    <input type="hidden" id="sessionUserId" value="{{sessionUser.id}}">
                {{/sessionUser}}
                {{^sessionUser}}
                    <ul>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                        <li><a href="#!" class="icon"><i class="fas fa-search"></i></a></li>
                        <li><a href="#!" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                {{/sessionUser}}
            </div>
        </div>
    </div>
</header>
<!-- 모달 시작 -->
<div id="clientModal" class="modal" style="width: 250px;">
    <div class="modal-content d-flex align-items-center" style="border: none">
        <p id="clientModalMessage" style="margin-bottom: 10px;">예약이 확정되었습니다.</p>
        <div class="modal-buttons">
            <a href="/client/mypage" class="btn btn-outline-success btn-sm" id="clientConfirmButton">예약 보러 가기</a>
            <a class="btn btn-outline-danger btn-sm" id="clientCloseButton">창 닫기</a>
        </div>
    </div>
</div>
<!-- 모달 끝 -->

<!-- 클라이언트 이벤트 -->
<div id="clientEvent"></div>
<script>
    $(document).ready(function () {
        function initializeClientEventSource() {
            console.log("Initializing client event source");
            if (!window.clientEventSource) {
                const clientId = $("#sessionUserId").val();
                console.log("Client ID:", clientId);
                if (!clientId) {
                    console.error("Client ID is undefined");
                    return;
                }
                const clientEventSource = new EventSource(`/sse/client/${clientId}`);

                clientEventSource.onopen = function (event) {
                    console.log("Open:", event);
                };

                clientEventSource.onmessage = function (event) {
                    console.log("Event received:", event);
                    $("#clientModalMessage").html("예약이 확정되었습니다.");
                    $("#clientModal").css("display", "block");
                };

                clientEventSource.onerror = function (error) {
                    console.error("Error occurred:", error);
                    console.error("Error details:", error);
                    clientEventSource.close();
                    setTimeout(function () {
                        initializeClientEventSource();
                    }, 3000);
                };

                window.clientEventSource = clientEventSource;
            }
        }

        initializeClientEventSource();

        // 모달 제어
        $(".close, #clientCloseButton").on("click", function () {
            $("#clientModal").css("display", "none");
            incrementNotificationCount(); // 알림 카운트 증가 함수 호출
        });

        $("#clientConfirmButton").on("click", function () {
            window.location.href = "/client/mypage"; // 예약 확인 페이지로 이동
        });

        // 모달 창 외부 클릭 시 닫기
        $(window).on("click", function (event) {
            if ($(event.target).is("#clientModal")) {
                $("#clientModal").css("display", "none");
                incrementNotificationCount(); // 알림 카운트 증가 함수 호출
            }
        });

        // // 드롭다운 메뉴 제어
        // $('.bell-icon').click(function (event) {
        //     event.stopPropagation();
        //     $(this).siblings('.dropdown-menu').toggle();
        // });
        //
        // $(document).click(function () {
        //     $('.dropdown-menu').hide();
        // });
        //
        // $('.dropdown-menu').click(function (event) {
        //     event.stopPropagation();
        // });

        // 알림 카운트 업데이트
        function updateNotificationCount() {
            $.ajax({
                url: '/sse/alarm-count',
                type: 'GET',
                success: function (count) {
                    if (count > 0) {
                        $('#notification-count').removeClass('count-hidden').text(count);
                    } else {
                        $('#notification-count').addClass('count-hidden');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Failed to fetch notification count:", error);
                }
            });
        }

        // 알림 카운트 증가
        function incrementNotificationCount() {
            const currentCount = parseInt($('#notification-count').text()) || 0;
            const newCount = currentCount + 1;
            $('#notification-count').text(newCount).removeClass('count-hidden');
        }

        // 페이지 로드 시 알림 카운트 업데이트
        updateNotificationCount();

        // 일정 시간 간격으로 알림 카운트 업데이트 (예: 1분마다)
        setInterval(updateNotificationCount, 60000); // 1분 = 60000ms
    });
</script>
<!-- 헤더 끝 -->
