<!-- 헤더 시작 -->
<header class="header-ex">
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="logo">
                    <a href="/">
                        <img src="/images/main_logo.svg" alt="Main Logo">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/comm">커뮤니티</a></li>
                        <li><a href="/client/findExpert">전문가 찾기</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                {{#sessionUser}}
                    <ul>
                        <li><a href="/logout">로그아웃</a></li>
                        <li><a href="#!" class="icon"><i class="fas fa-search"></i></a></li>
                        <li><a href="/client/mypage" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                    <input type="hidden" id="sessionUserId" value="{{sessionUser.id}}">
                {{/sessionUser}}
                {{^sessionUser}}
                    <ul>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                        <li><a href="#!" class="icon"><i class="fas fa-search"></i></a></li>
                        <li><a href="#!" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                {{/sessionUser}}
            </div>
        </div>
    </div>
</header>
<div id="clientEvent"></div>
<script>
    $(document).ready(function () {
        function initializeClientEventSource() {
            console.log("Initializing client event source");
            if (!window.clientEventSource) {
                const clientId = $("#sessionUserId").val();
                console.log("Client ID:", clientId);
                if (!clientId) {
                    console.error("Client ID is undefined");
                    return;
                }
                const clientEventSource = new EventSource(`/sse/client/${clientId}`);
                console.log("EventSource created for client");

                clientEventSource.onmessage = function(event) {
                    console.log("Event received:", event);
                    const div = $("<div>").text(`Event received: ${event.data}`);
                    $("#clientEvent").append(div);
                };

                clientEventSource.onerror = function(error) {
                    console.error("Error occurred:", error);
                    clientEventSource.close();
                    setTimeout(function () {
                        initializeClientEventSource();
                    }, 3000);
                };

                window.clientEventSource = clientEventSource;
            }
        }

        initializeClientEventSource();
    });
</script>
<!-- 헤더 끝 -->
