<!-- 헤더 시작 -->
<header class="header-ex">
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="logo">
                    <a href="/experts">
                        <img src="/images/main_logo.svg" alt="Main Logo">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/comm">커뮤니티</a></li>
                        <li><a href="/voucher-list">이용권</a></li>
                        <li><a href="/review">후기</a></li>
                        <li><a href="/schedule">상담일정</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                {{#sessionUser}}
                    <ul>
                        <li><a href="/logout">로그아웃</a></li>
                        <li><a href="#!" class="icon"><i class="fas fa-search"></i></a></li>
                        <li><a href="/expert/mypage" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                    <input type="hidden" id="sessionUserId" value="{{sessionUser.id}}">
                {{/sessionUser}}
                {{^sessionUser}}
                    <ul>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                        <li><a href="#!" class="icon"><i class="fas fa-search"></i></a></li>
                        <li><a href="#!" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                {{/sessionUser}}

            </div>
        </div>
    </div>
</header>
<div id="expertEvent"></div>
<script>
    $(document).ready(function () {
        function initializeExpertEventSource() {
            console.log("Initializing expert event source");
            if (!window.expertEventSource) {
                const expertId = $("#sessionUserId").val(); // 세션 유저의 아이디를 가져옴
                console.log("Expert ID:", expertId);
                if (!expertId) {
                    console.error("Expert ID is undefined");
                    return;
                }
                const expertEventSource = new EventSource(`/sse/expert/${expertId}`);
                console.log("EventSource created for expert");

                expertEventSource.onmessage = function(event) {
                    console.log("Event received:", event);
                    const div = $("<div>").text(`Event received: ${event.data}`);
                    $("#expertEvent").append(div);
                };

                expertEventSource.onerror = function(error) {
                    console.error("Error occurred:", error);
                    expertEventSource.close();
                    setTimeout(function () {
                        initializeExpertEventSource();
                    }, 3000); // 3초 후 재연결 시도
                };

                window.expertEventSource = expertEventSource;
            }
        }

        initializeExpertEventSource();
    });
</script>
<!-- 헤더 끝 -->
