<!-- 헤더 시작 -->
<header class="header-ex">
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="logo">
                    <a href="/experts">
                        <img src="/images/main_logo.svg" alt="Main Logo">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/comm">커뮤니티</a></li>
                        <li><a href="/voucher-list">이용권</a></li>
                        <li><a href="/review">후기</a></li>
                        <li><a href="/schedule">상담일정</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                {{#sessionUser}}
                    <ul>
                        <li><a href="/logout">로그아웃</a></li>
                        <li><a href="#!" class="icon"><i class="fas fa-search"></i></a></li>
                        <li><a href="/expert/mypage" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                {{/sessionUser}}
                {{^sessionUser}}
                    <ul>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                        <li><a href="#!" class="icon"><i class="fas fa-search"></i></a></li>
                        <li><a href="#!" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                {{/sessionUser}}

            </div>
        </div>
    </div>
</header>
<div id="expertEvent"></div>
<script>
    // 전문가에게 알림
    function initializeExpertEventSource() {
        console.log(1)
        if (!window.expertEventSource) {
            const expertEventSource = new EventSource("/expertEmitter");
            console.log(expertEventSource)
            expertEventSource.onmessage = (event) => {
                console.log(event)
                const div = document.createElement("div");
                div.textContent = `Event received: ${event.data}`;
                document.getElementById("expertEvent").appendChild(div);
            };

            expertEventSource.onerror = (error) => {
                console.error("Error occurred:", error);
                expertEventSource.close();
                // 연결이 끊어졌을 때 재연결 시도 (백오프 전략 적용 가능)
                setTimeout(() => {
                    initializeExpertEventSource();
                }, 3000); // 3초 후 재연결 시도
            };

            window.expertEventSource = expertEventSource;
        }
    }

    initializeExpertEventSource();
</script>
<!-- 헤더 끝 -->