<!-- 헤더 시작 -->
<header class="header-ex">
    <div class="container">
        <div class="header">
            <div class="header-left">
                <div class="logo">
                    <a href="/experts">
                        <img src="/images/main_logo.svg" alt="Main Logo">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="/comm">커뮤니티</a></li>
                        <li><a href="/voucher-list">이용권</a></li>
                        <li><a href="/review">후기</a></li>
                        <li><a href="/schedule">상담일정</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                {{#sessionUser}}
                    <ul>
                        <li><a href="/logout">로그아웃</a></li>
                        <a href="#!" class="icon bell-icon"><i class="fa-regular fa-bell"></i></a>
                        <li><a href="/expert/mypage" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                    <input type="hidden" id="sessionUserId" value="{{sessionUser.id}}">
                {{/sessionUser}}
                {{^sessionUser}}
                    <ul>
                        <li><a href="/login">로그인</a></li>
                        <li><a href="/join">회원가입</a></li>
                        <li><a href="#!" class="icon"><i class="fas fa-search"></i></a></li>
                        <li><a href="#!" class="icon"><i class="far fa-user"></i></a></li>
                    </ul>
                {{/sessionUser}}

            </div>
        </div>
    </div>
</header>
<!-- 모달 시작 -->
<div id="expertModal" class="modal" style="width: 250px;">
    <div class="modal-content d-flex align-item-center" style="border: none">
        <p id="expertModalMessage" style="margin-bottom: 10px;">예약신청이 도착했습니다.</p>
        <div class="modal-buttons">
            <a href="/schedule" class="btn btn-outline-success btn-sm" id="expertConfirmButton">상담일정 페이지로 가기</a>
            <a class="btn btn-outline-danger btn-sm" id="expertCloseButton">창 닫기</a>
        </div>
    </div>
</div>
<!-- 모달 끝 -->

<div id="expertEvent"></div>
<script>
    $(document).ready(function () {
        function initializeExpertEventSource() {
            console.log("Initializing expert event source");
            if (!window.expertEventSource) {
                const expertId = $("#sessionUserId").val();
                console.log("Expert ID:", expertId);
                if (!expertId) {
                    console.error("Expert ID is undefined");
                    return;
                }
                const expertEventSource = new EventSource(`/sse/expert/${expertId}`);
                console.log("EventSource created for expert");

                expertEventSource.onopen = function (event) {
                    console.log("Open:", event);
                };

                expertEventSource.onmessage = function (event) {
                    console.log("Event received:", event);
                    $("#expertModalMessage").html("예약신청이 도착했습니다.");
                    $("#expertModal").css("display", "block");
                };

                expertEventSource.onerror = function (error) {
                    console.error("Error occurred:", error);
                    expertEventSource.close();
                    setTimeout(function () {
                        initializeExpertEventSource();
                    }, 3000); // 3초 후 재연결 시도
                };

                window.expertEventSource = expertEventSource;
            }
        }

        initializeExpertEventSource();

        // 모달 제어
        $(".close, #expertCloseButton").on("click", function () {
            $("#expertModal").css("display", "none");
        });

        $("#expertConfirmButton").on("click", function () {
            window.location.href = "/schedule"; // 스케쥴 확인 페이지로 이동
        });

        // 모달 창 외부 클릭 시 닫기
        $(window).on("click", function (event) {
            if ($(event.target).is("#expertModal")) {
                $("#expertModal").css("display", "none");
            }
        });
    });
</script>
<!-- 헤더 끝 -->