{{> layout/header}}
<div class="join-wrap">
    <h1 class="join-title">회원가입</h1>
    <div class="join-toggle mb-4">
        <button class="join-active btn btn-outline-success me-2" onclick="toggleTab('personal1')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M15.854 5.854a.5.5 0 0 0-.708-.708L7 13.293 2.854 9.146a.5.5 0 1 0-.708.708l4.5 4.5a.5.5 0 0 0 .708 0l8-8z"/>
            </svg>
            개인 회원
        </button>
        <button class="btn btn-outline-secondary" onclick="toggleTab('advisor1')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M15.854 5.854a.5.5 0 0 0-.708-.708L7 13.293 2.854 9.146a.5.5 0 1 0-.708.708l4.5 4.5a.5.5 0 0 0 .708 0l8-8z"/>
            </svg>
            상담사
        </button>
    </div>
    <hr class="join-divider mb-5">
    <button class="join-btn">아이디/비밀번호로 회원가입</button>
    <hr class="join-divider mt-5">
    <div class="join-social">
        <a href="#"><img src="/images/naver_oauth.png" alt="Naver Signup"></a>
        <a href="#"><img src="/images/kakao_oauth.png" alt="Kakao Signup"></a>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.join-toggle button').click(function () {
            $('.join-toggle button').removeClass('join-active btn-outline-success').addClass('btn-outline-secondary');
            $(this).removeClass('btn-outline-secondary').addClass('join-active btn-outline-success');
        });
    });
</script>
{{> layout/footer}}