{{> layout/client-header}}

<div class="login-wrap">
    <h1 class="login-title">로그인</h1>
    <div class="login-toggle mb-4">
        <button class="login-active btn btn-outline-success me-2" onclick="toggleTab('personal')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-check-circle" viewBox="0 0 16 16">
                <path
                        d="M15.854 5.854a.5.5 0 0 0-.708-.708L7 13.293 2.854 9.146a.5.5 0 1 0-.708.708l4.5 4.5a.5.5 0 0 0 .708 0l8-8z"/>
            </svg>
            개인 회원
        </button>
        <button class="btn btn-outline-secondary" onclick="toggleTab('advisor')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-check-circle" viewBox="0 0 16 16">
                <path
                        d="M15.854 5.854a.5.5 0 0 0-.708-.708L7 13.293 2.854 9.146a.5.5 0 1 0-.708.708l4.5 4.5a.5.5 0 0 0 .708 0l8-8z"/>
            </svg>
            상담사
        </button>
    </div>
    <form action="/login" method="post" id="loginForm">
        <div class="login-group mb-3">
            <label for="inputUsername" class="form-label">아이디 <span class="text-danger">*</span></label>
            <input type="email" id="inputUsername" name="email" class="form-control"
                   placeholder="아이디(이메일)을 입력해 주세요" value="mimi@nate.com" required>
        </div>
        <div class="login-group mb-3">
            <label for="inputPassword" class="form-label">비밀번호 <span class="text-danger">*</span></label>
            <input type="password" id="inputPassword" name="password" class="form-control"
                   placeholder="비밀번호를 입력해 주세요" value="1234" required>
        </div>
        <button type="submit" class="login-btn">로그인</button>
        <div class="login-links mt-3 d-flex justify-content-between">
            <a href="#" class="text-success">아이디 찾기</a>
            <a href="#" class="text-success">비밀번호 찾기</a>
            <a href="/join" class="text-success">회원가입</a>
        </div>
        <hr class="join-divider ">
        <div class="join-social">
            <a href="#"><img src="./images/naver_oauth.png" alt="Naver Signup"></a>
            <a href="#"><img src="./images/kakao_oauth.png" alt="Kakao Signup"></a>
        </div>
    </form>
</div>


{{> layout/footer}}