{{> layout/header}}

<div class="login-modal">
    <div class="login-modal-body">
        <h1 class="login-title">로그인</h1>
        <div class="login-slide-wrapper">
            <div class="login-slide-content">
                <div class="left login-form">
                    <button class="back left-for-mid main-background"><i class="fa-solid fa-right-long"></i></button>
                    <div class="login-type-head">
                        클라이언트
                    </div>
                    <form action="/login" method="post" id="clientLoginForm">
                        <input type="hidden" name="userRole" value="CLIENT">
                        <div class="login-group mb-3">
                            <label for="inputUsernameClient" class="form-label">아이디 <span class="text-danger">*</span></label>
                            <input type="email" id="inputUsernameClient" name="email" class="form-control" placeholder="아이디(이메일)을 입력해 주세요" required value="mimi@nate.com">
                        </div>
                        <div class="login-group mb-3">
                            <label for="inputPasswordClient" class="form-label">비밀번호 <span class="text-danger">*</span></label>
                            <input type="password" id="inputPasswordClient" name="password" class="form-control" placeholder="비밀번호를 입력해 주세요" required value="1234">
                        </div>
                        <button type="submit" class="login-btn main-background">로그인</button>
                        <div class="login-links mt-3 d-flex justify-content-between">
                            <a href="#" class="text-success">아이디 찾기</a>
                            <a href="#" class="text-success">비밀번호 찾기</a>
                            <a href="/join" class="text-success">회원가입</a>
                        </div>
                    </form>
                    <div class="easy-login-wrapper">
                        <a href="#" id="kakaoSignupClient" class="kakao"><img src="./images/kakao_oauth.png" alt="Kakao Signup">카카오 로그인</a>
                        <a href="#" id="naverSignupClient" class="naver"><img src="./images/naver_oauth.png" alt="Naver Signup">네이버 로그인</a>
                    </div>
                </div>
                <div class="mid">
                    <button class="login-type client-login" id="getClient"><span class="head">나눌 고민이 있다면,</span><span class="body">클라이언트 로그인</span></button>
                    <button class="login-type counselor-login" id="getExpert"><span class="head">고민을 들어주고 싶다면,</span><span class="body">상담사 로그인</span></button>
                </div>
                <div class="right login-form">
                    <button class="back right-for-mid main-background"><i class="fa-solid fa-right-long"></i></button>
                    <div class="login-type-head">
                        상담사
                    </div>
                    <form action="/login" method="post" id="expertLoginForm">
                        <input type="hidden" name="userRole" value="EXPERT">
                        <div class="login-group mb-3">
                            <label for="inputUsernameExpert" class="form-label">아이디 <span class="text-danger">*</span></label>
                            <input type="email" id="inputUsernameExpert" name="email" class="form-control" placeholder="아이디(이메일)을 입력해 주세요" required value="expert1@nate.com">
                        </div>
                        <div class="login-group mb-3">
                            <label for="inputPasswordExpert" class="form-label">비밀번호 <span class="text-danger">*</span></label>
                            <input type="password" id="inputPasswordExpert" name="password" class="form-control" placeholder="비밀번호를 입력해 주세요" required value="1234">
                        </div>
                        <button type="submit" class="login-btn main-background">로그인</button>
                        <div class="login-links mt-3 d-flex justify-content-between">
                            <a href="#" class="text-success">아이디 찾기</a>
                            <a href="#" class="text-success">비밀번호 찾기</a>
                            <a href="/join" class="text-success">회원가입</a>
                        </div>
                    </form>
                    <div class="easy-login-wrapper">
                        <a href="#" id="kakaoSignupExpert" class="kakao"><img src="./images/kakao_oauth.png" alt="Kakao Signup">카카오 로그인</a>
                        <a href="#" id="naverSignupExpert" class="naver"><img src="./images/naver_oauth.png" alt="Naver Signup">네이버 로그인</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}