/* 헤더 */
.header-ex {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 90px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 140px;
}

.logo img {
    width: 100%;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 700;
}

.header-right ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    align-items: center;
}

.header-right ul li {
    margin-left: 20px;
}

.header-right ul li a {
    text-decoration: none;
    color: #333;
}

.icon {
    color: #333;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}