
{{> layout/client-header}}

<!--커뮤니티 시작-->
<section id="section01">
    <div class="container">
        <div class="page-wrapper">
            <h3 class="page-title mb-20">
                커뮤니티 사연보기
            </h3>

            <div class="page-content">
                <!--커뮤니티 상세보기 시작-->
                <div class="comm-detail">
                    <!--상세보기 info 시작-->
                    <div class="c-card">
                        <div class="c-card-body comdetail">
                            <!-- <h4 class="card-title">1</h4> -->
                            <div class="breadcrumb mb-20">
                                <a href="#">홈화면</a> > <a href="#">커뮤니티</a> > <a href="#" class="active main-color">자유</a>
                            </div>
                            <h4 class="card-title">어떻게 해야할지 감이 안옵니다.</h4>
                            <div class="community-cartegory detail">
                                <div class="user-info"><figure><img src="images/level1.png" alt="회원이미지"></figure><span>handon7018</span><span class="time">10시간 전</span></div>
                                <div class="actions">
                                    <div class="right-actions">
                                        <button class=" defalut-btn" onclick="clip()"><i class="fa-regular fa-share-nodes"></i><span>공유하기</span></button>
                                        <div class="dropdown">
                                            <button class="drop-toggle"><i class="fa-regular fa-ellipsis-vertical"></i></button>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item">신고하기</button>
                                                <button class="dropdown-item">북마크하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--dropdown 시작..-->

                            <!--dropdown 끝-->
                            <p class="card-text">내용입니다.</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="click-wrapper mb-20">
                                <button>💬 2명이 질문답변 추천</button>
                                <button>❤ 공감2개</button>
                            </div>

                        </div>
                    </div>
                    <!--상세보기 info 끝-->

                    <!--댓글 제목 시작-->
                    <hr>
                    <br>
                    <h3 class="page-title mb-20">전문답변 <span class="main-color">1</span> 개가 달렸어요.</h3>

                    <!--전문가 댓글 시작-->

                    <div class="expert-answer mb-20">
                        <div class="expert-answer-header main-background">
                            <div class="info">
                                <img src="/images/user.png" alt="상담사 사진">
                                <div class="answer-text">
                                    <div class="name">강지선 상담사</div>
                                    <div class="details">2급 심리상담사 · 20분 전</div>
                                </div>
                            </div>
                            <button class="defalut-btn main-background active-background">상담 받아보기</button>
                        </div>
                        <div class="content">
                            <h3 class="page-title mb-20">각인효과</h3>
                            <div class="tags mb-10">
                                <span>#답변태그1</span>
                                <span>#답변태그2</span>
                                <span>#스트레스</span>
                                <span>#상담</span>
                                <span>#우울</span>
                            </div>
                            <br>
                            <h5 class="page-title">소개글</h5>
                            <p class="detail-answer-reply mb-20">소개글입니다.</p>
                            <br>
                            <h5 class="page-title">📝 사례 요약</h5>
                            <p class="detail-answer-reply mb-20">내용입니다.</p>
                            <br>
                            <h5 class="page-title">💡 원인 분석</h5>
                            <p class="detail-answer-reply mb-20">내용입니다.</p>
                            <br>
                            <h5 class="page-title">🔧 대처 방안 제시</h5>
                            <p class="detail-answer-reply mb-20">내용입니다.</p>
                            <div class="bottom-content">
                                <div class="click-wrapper">
                                    <button>💬 도움돼요</button>
                                </div>
                                <div class="actions">
                                    <div class="right-actions" style="display: flex">
                                        <button class=" defalut-btn" onclick="clip()"><i class="fa-regular fa-share-nodes"></i><span>공유하기</span></button>
                                        <div class="dropdown">
                                            <button class="drop-toggle"><i class="fa-regular fa-ellipsis-vertical"></i></button>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item">신고하기</button>
                                                <button class="dropdown-item">북마크하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--dropdown 시작..-->

                        <!--dropdown 끝-->
                    </div>
                    <div class="c-card ">
                        <div class="c-card-body detail mb-20">
                            <div class="community-cartegory">
                                <div class="user-info"><figure><img src="/images/level1.png" alt="회원이미지"></figure><span>handon7018</span></div>
                            </div>
                            <p class="card-text mb-20">군 재대 후 24년 1월부터 평인엔 시골에서 지내고 왈가왈부 두줄 테스트를 하기 위해서 글을 써내려 가고 있습니다 하하하하하하하하하</p>

                            <div class="bottom-content">
                                <div class="click-wrapper">
                                    <button>💬 도움돼요</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-section mb-50">
                        <input type="text" placeholder="따뜻한 댓글을 남겨주세요">
                        <button class="main-background defalut-btn">게시</button>
                    </div>

                    <hr>
                    <script src="../js/communutiyDetailExpert.js"></script>
                    <!--전문가 댓글 끝-->
                    <!--댓글 섹션 시작-->
                    <!--같은 카테고리 다른 글 살펴보기 시작-->
                    <br>
                    <h3 class="page-title mb-20">정신건강의 다른 글 살펴보기</h3>
                    <!-- 다른 글 -->
                    <div class="c-card">
                        <div class="c-card-body detail">
                            <a href="#">
                                <h4 class="card-title mb-10">군대 재대 후 아무것도</h4>
                                <div class="community-cartegory">
                                    <div class="category main-color">직장</div>
                                    <div class="user-info"><figure><img src="/images/level1.png" alt="회원이미지"></figure><span>handon7018</span></div>
                                </div>
                                <p class="card-text mb-20">군 재대 후 24년 1월부터 평인엔 시골에서 지내고 왈가왈부 두줄 테스트를 하기 위해서 글을 써내려 가고 있습니다 하하하하하하하하하</p>
                            </a>
                            <div class="link-wrapper">
                                <a href="#" class="card-link like">❤<em class="count">1</em></a>
                                <a href="#" class="card-link reply">💌<em class="count">2</em></a>
                            </div>
                            <div class="expert-reply">
                                <div class="expert-reply-info mb-10">
                                    <figure><img src="/images/user.png" alt="전문가 이미지가 들어갈 자리"></figure>
                                    <span class="expert-reply-name active-color">최원아님의 전문답변</span>
                                </div>
                                <p class="reply-content">
                                    현재 느끼는 부담감과 불안감은 시험을 준비하는 과정에서 당연히 나타날 수 있는 감정들이에요.
                                    그리고 부모님에 대한 미안함과 그로 인한 바보같은 생각은 하지마세요
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--답변 중 전문가가 리플 달아준 것 시작-->

                </div>
                <!--커뮤니티 상세보기 끝-->
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){

        // 드롭다운 박스
        $('.dropdown').click(function() {
            $(this).find('.dropdown-menu').toggleClass('show');

        });

        // 해당 주소링크 저장
        function clip() {
            var url = window.location.href; // 주소창의 URL을 가져옴
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            textarea.value = url;
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("링크가 복사되었습니다.");
            console.log(url);
        };
    });
</script>
<!--컨텐츠 끝-->
</div>
<!--커뮤니티 끝-->
{{> layout/footer}}

