
{{> layout/header}}

<!--커뮤니티 시작-->
<section id="section01">
    <div class="container">
        <div class="page-wrapper">
            <h3 class="page-title mb-20">
                커뮤니티 사연보기
            </h3>

            <div class="page-content">
                <!--커뮤니티 상세보기 시작-->
                <div class="comm-detail">
                    <!--상세보기 info 시작-->
                    <div class="c-card">
                        <div class="c-card-body comdetail">
                            <!-- <h4 class="card-title">1</h4> -->
                            <div class="breadcrumb mb-20">
                                <a href="#">홈화면</a> > <a href="#">커뮤니티</a> > <a href="#"
                                                                                class="active main-color">{{comm.category}}</a>
                            </div>
                            <h4 class="card-title">{{comm.title}} 아이디 : {{comm.commId}}</h4>
                            <div class="community-cartegory detail">
                                <div class="user-info">
                                    <figure><img src="{{comm.clientImage}}" alt="회원이미지"></figure>
                                    <span>{{comm.name}}</span><span class="time">{{comm.createdAt}}</span></div>
                                <div class="actions">
                                    <div class="right-actions">
                                        <button class=" defalut-btn" onclick="clip()"><i
                                                class="fa-regular fa-share-nodes"></i><span>공유하기</span></button>
                                        <div class="dropdown">
                                            <button class="drop-toggle"><i class="fa-regular fa-ellipsis-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item">신고하기</button>
                                                <button class="dropdown-item">북마크하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--dropdown 시작..-->

                            <!--dropdown 끝-->
                            <p class="card-text">내용입니다.</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="click-wrapper mb-20">
                                <button>💬 2명이 질문답변 추천</button>
                                <button>❤ 공감2개</button>
                            </div>

                        </div>
                    </div>
                    <!--상세보기 info 끝-->

                    <!--댓글 제목 시작-->
                    <hr>
                    <br>
                    <h3 class="page-title mb-20">전문답변 <span class="main-color">1</span> 개가 달렸어요.</h3>

                    <!--전문가 댓글 시작-->

                    <div class="expert-answer mb-20">
                        <div class="expert-answer-header main-background">
                            <div class="info">
                                <img src="/images/user.png" alt="상담사 사진">
                                <div class="answer-text">
                                    <div class="name">강지선 상담사</div>
                                    <div class="details">2급 심리상담사 · 20분 전</div>
                                </div>
                            </div>
                            <button class="defalut-btn main-background active-background">상담 받아보기</button>
                        </div>
                        <div class="content">
                            <h3 class="page-title mb-20">각인효과</h3>
                            <div class="tags mb-10">
                                <span>#답변태그1</span>
                                <span>#답변태그2</span>
                                <span>#스트레스</span>
                                <span>#상담</span>
                                <span>#우울</span>
                            </div>
                            <br>
                            <h5 class="page-title">소개글</h5>
                            <p class="detail-answer-reply mb-20">소개글입니다.</p>
                            <br>
                            <h5 class="page-title">📝 사례 요약</h5>
                            <p class="detail-answer-reply mb-20">내용입니다.</p>
                            <br>
                            <h5 class="page-title">💡 원인 분석</h5>
                            <p class="detail-answer-reply mb-20">내용입니다.</p>
                            <br>
                            <h5 class="page-title">🔧 대처 방안 제시</h5>
                            <p class="detail-answer-reply mb-20">내용입니다.</p>
                            <div class="bottom-content">
                                <div class="click-wrapper">
                                    <button>💬 도움돼요</button>
                                </div>
                                <div class="actions">
                                    <div class="right-actions" style="display: flex">
                                        <button class=" defalut-btn" onclick="clip()"><i
                                                class="fa-regular fa-share-nodes"></i><span>공유하기</span></button>
                                        <div class="dropdown">
                                            <button class="drop-toggle"><i class="fa-regular fa-ellipsis-vertical"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <button class="dropdown-item">신고하기</button>
                                                <button class="dropdown-item">북마크하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--dropdown 시작..-->

                        <!--dropdown 끝-->
                    </div>
                    <div class="c-card ">
                        <div class="c-card-body detail mb-20">
                            <div class="community-cartegory">
                                <div class="user-info">
                                    <figure><img src="{{comm.clientImage}}" alt="회원이미지"></figure>
                                    <span>{{comm.name}}</span></div>
                            </div>
                            <p class="card-text mb-20">여기는 일반인 댓글 출력 공간입니다</p>

                            <div class="bottom-content">
                                <div class="click-wrapper">
                                    <button>💬 도움돼요</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-section mb-50">
                        <input type="text" placeholder="따뜻한 댓글을 남겨주세요">
                        {{#isUserRole}}
                            <button class="main-background defalut-btn" onclick="openNewWindow({{comm.commId}})"> 전문가 댓글 게시</button>
                        {{/isUserRole}}
                        {{^isUserRole}}
                            <button class="main-background defalut-btn">게시</button>
                        {{/isUserRole}}
                    </div>

                    <hr>
                    <script src="../js/communutiyDetailExpert.js"></script>
                    <!--전문가 댓글 끝-->
                    <!--댓글 섹션 시작-->
                    <!--같은 카테고리 다른 글 살펴보기 시작-->
                    <br>
                    <h3 class="page-title mb-20">{{comm.category}}의 다른 글 살펴보기</h3>
                    <!-- 다른 글 -->
                    {{#comm.commsByCategory.일반고민}}
                        <div class="c-card">
                            <div class="c-card-body detail">
                                <a href="/comm-detail/{{id}}">
                                    <h4 class="card-title mb-10">{{this.title}}</h4>
                                    <div class="community-cartegory">
                                        <div class="category main-color">{{this.category}}</div>
                                        <div class="user-info">
                                            <figure><img src="{{comm.clientImage}}" alt="회원이미지"></figure>
                                            <span>{{comm.name}}</span>
                                        </div>
                                    </div>
                                    <p class="card-text mb-20">{{this.content}}</p>
                                </a>
                                <div class="link-wrapper">
                                    <a href="#" class="card-link like">❤<em class="count">1</em></a>
                                    <a href="#" class="card-link reply">💌<em class="count">2</em></a>
                                </div>

                                {{#userRole}}
                                    <div class="expert-reply">
                                        <div class="expert-reply-info mb-10">
                                            <figure><img src="/images/user.png" alt="전문가 이미지가 들어갈 자리"></figure>
                                            <span class="expert-reply-name active-color">{{expertName}}님의 전문답변</span>
                                        </div>
                                        <p class="reply-content">
                                            {{solution}}
                                        </p>
                                    </div>
                                {{/userRole}}
                            </div>

                        </div>
                    {{/comm.commsByCategory.일반고민}}
                </div>
                <!--답변 중 전문가가 리플 달아준 것 시작-->

            </div>
            <!--커뮤니티 상세보기 끝-->
        </div>
    </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        // 드롭다운 박스
        $('.dropdown').click(function () {
            $(this).find('.dropdown-menu').toggleClass('show');

        });

        // 해당 주소링크 저장
        function clip() {
            var url = window.location.href; // 주소창의 URL을 가져옴
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            textarea.value = url;
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("링크가 복사되었습니다.");
            console.log(url);
        };
    });

    // 전문가 댓글 달기 창 열기
    function openNewWindow(id) {
        // 새로운 창으로 열고자 하는 URL을 여기에 입력하세요.
        var url = "/expert/reply?id=" + id;

        // 새 창의 특성을 지정할 수 있습니다. (폭, 높이 등)
        var windowFeatures = "width=600, height=850,scrollbars=yes";
        // 새 창 열기
        window.open(url, "_blank", windowFeatures);
    }
</script>
<!--컨텐츠 끝-->
</div>
<!--커뮤니티 끝-->
{{> layout/footer}}

