{{> layout/header}}

<!--커뮤니티 시작-->
<section id="section01">
    <div class="container">
        <div class="page-wrapper">
            <h3 class="page-title mb-20">
                커뮤니티 사연보기
            </h3>
            <div class="page-content">
                <div class="comm">
                    <div class="comm-nav">
                        <div class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="/comm">모든 사연</a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                        aria-expanded="false"
                                        aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/comm/category?category=GENERAL_CONCERNS">일반고민</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/comm/category?category=CAREER_JOBS">취업/진로</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/comm/category?category=WORK_LIFE">직장</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/comm/category?category=RELATIONSHIPS">연애</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/comm/category?category=SOCIAL_INTERACTIONS">대인관계</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/comm/category?category=ADDICTION_OBSESSION">중독/집착</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/comm/category?category=FINANCE_BUSINESS">금전/사업</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--필터 시작-->
                    <div class="comm-filter mb-20">
                        <button class="active black-background">✨최신순</button>
                        <button>👩‍⚕️전문답변</button>
                        <button>😍공감순</button>
                    </div>
                    <!--필터 끝-->
                    <!--컨텐츠 시작-->
                    <div class="c-card">

                        {{#allCommsWithReplyList}}
                            <div class="c-card-body">
                                <a href="/comm-detail/{{id}}">
                                    <h4 class="card-title mb-10">{{title}}</h4>
                                    <div class="community-cartegory">
                                        <div class="category main-color">{{category}}</div>
                                        <div class="user-info">
                                            <figure><img src="{{writerImage}}" alt="회원이미지"></figure>
                                            <span>{{writerName}}</span>
                                        </div>
                                    </div>
                                    <p class="card-text mb-20">{{content}}</p>
                                </a>
                                <div class="link-wrapper">
                                    <a href="#" class="card-link like">❤<em class="count">1</em></a>
                                    <a href="#" class="card-link reply">💌<em class="count">{{replies}}</em></a>
                                </div>

                                {{#expertReplies}}
                                    {{#userRole}}
                                        <div class="expert-reply">
                                            <div class="expert-reply-info mb-10">
                                                <figure><img src="/images/user.png" alt={{profileImage}}></figure>
                                                <span class="expert-reply-name active-color">{{expertName}}
                                                    님의 전문답변</span>
                                            </div>
                                            <p class="reply-content">
                                                {{solution}}
                                            </p>
                                        </div>
                                    {{/userRole}}
                                {{/expertReplies}}
                            </div>

                        {{/allCommsWithReplyList}}

                    </div>

                    <!--컨텐츠 끝-->

                    <!--페이지네이션 시작-->
                    <div class="comm-pagination">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <span class="page-link">Previous</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">2</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--페이지네이션 끝-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--컨텐츠 끝-->
</div>
<!--커뮤니티 끝-->
{{> layout/footer}}

