{{> layout/header}}

<!-- 본문 시작 -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>사연 작성</h2>
            <div class="form-write-group">
                <div class="btn-group mb-3" role="group" aria-label="Basic example">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            일반고민
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">일반고민</a></li>
                            <li><a class="dropdown-item" href="#">취업/진로</a></li>
                            <li><a class="dropdown-item" href="#">직장</a></li>
                            <li><a class="dropdown-item" href="#">연애</a></li>
                            <li><a class="dropdown-item" href="#">대인관계</a></li>
                            <li><a class="dropdown-item" href="#">중독/집착</a></li>
                            <li><a class="dropdown-item" href="#">금전/사업</a></li>
                        </ul>
                    </div>
                </div>
                <textarea class="form-control mb-3" id="title" rows="5" placeholder="당신의 고민을 한줄로 요약해 주세요"></textarea>
                <textarea class="form-control mb-3" id="content" rows="10" placeholder="전문가의 답변을 받기위해 자세하게 작성해 주세요"></textarea>
                <button class="btn btn-primary" onclick="submitForm()">작성완료</button>
            </div>
        </div>
    </div>
</div>
<!-- 본문 끝 -->

<script>
    $(document).ready(function () {
        $('.dropdown-menu a').click(function () {
            var selectedCategory = $(this).text();
            $('#dropdownMenuButton').text(selectedCategory);
        });
    });

    function submitForm() {
        const category = $('#dropdownMenuButton').text().trim();
        const title = $('#title').val().trim();
        const content = $('#content').val().trim();

        if (title === "" || content === "") {
            alert("모든 필드를 입력하고 카테고리를 선택해주세요.");
            return;
        }

        const formData = {
            category: category,
            title: title,
            content: content
        };

        fetch('/comm/write-complete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
                .then(response => {
                    if (response.ok) {
                        alert('사연이 성공적으로 등록되었습니다.');
                    } else {
                        alert('사연 등록 중 오류가 발생했습니다.');
                    }
                })
                .catch(error => {
                    console.error('Error posting form data:', error);
                    alert('사연 등록 중 오류가 발생했습니다.');
                });
    }
</script>

{{> layout/footer}}
