<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전문가 댓글 달기</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="expert-reply-container">
    <div class="expert-reply-header">
        <img src="./images/image.png" alt="Profile Picture">
        <h1>윤수진 코치</h1>
    </div>
    <div class="expert-reply-content">
        <form>
            <div class="form-group">
                <label for="goal">소개글</label>
                <textarea id="goal" placeholder="텍스트 입력">안녕하세요 전문가 양반입니다</textarea>
            </div>
            <div class="form-group">
                <label for="date">📖 사연 요약</label>
                <textarea id="date" placeholder="텍스트 입력">사연자의 고민은 집에 많이 가고싶으시군요 흠...</textarea>
            </div>
            <div class="form-group">
                <label for="location">🔎 원인 분석</label>
                <textarea id="location" placeholder="텍스트 입력">집이 있으니까 집에 가고 싶은것이겠죠</textarea>
            </div>
            <div class="form-group">
                <label for="details">💡 대처 방향 제시</label>
                <textarea id="details" placeholder="텍스트 입력">집을 없애는건 어떨까요?</textarea>
            </div>
            <div class="form-group-button">
                <button type="submit">댓글 등록</button>
            </div>
        </form>
    </div>
</div>

<script>

</script>

</body>
</html>