{{> layout/header}}
<!-- 리뷰 시작 -->
<div class="review-ex">
    <div class="review-container container swiper mySwiper">
        <h2>최신후기
            <a href="">
                (자세히보기)
            </a>
        </h2>

        <div class="card-container swiper-wrapper">
            {{#expertMain.recentReviewRecords}}
                <a href="#!" class="card swiper-slide">
                    <div class="card-top">
                        <div class="profile"><img src="./images/client.png" alt=""></div>
                        <div class="client-name">{{clientName}}</div>
                        <div class="score">({{score}})</div>
                    </div>
                    <div class="card-bottom">
                        <div class="content-prev">{{content}}
                        </div>
                        <div class="more-btn">더보기</div>
                    </div>
                </a>
            {{/expertMain.recentReviewRecords}}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<!-- 리뷰 끝 -->

<!-- 상담일정 시작 -->
<div class="schedule">
    <div class="container">
        <h2>상담일정
            <a href="">
                (자세히보기)
            </a>
        </h2>

        <table class="table table-success table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">날짜</th>
                <th scope="col">내담자</th>
                <th scope="col" colspan="2">이용권</th>
            </tr>
            </thead>
            <tbody>
            {{#expertMain.counselScheduleRecords}}
                <tr>
                    <th scope="row">{{counselDate}}</th>
                    <td>{{clientName}}</td>
                    <td colspan="2">[{{voucherType}}] {{duration}}분 이용권</td>
                </tr>
            {{/expertMain.counselScheduleRecords}}
            </tbody>
        </table>
    </div>
</div>
<!-- 상담일정 끝 -->
{{> layout/footer}}