{{> layout/expert-header}}
<!-- 리뷰 시작 -->
<div class="review-ex">
    <div class="review-container container swiper mySwiper">
        <h2>최신후기
            <a href="">
                (자세히보기)
            </a>
        </h2>
        <div class="card-container swiper-wrapper">
            <a href="#!" class="card swiper-slide">
                <div class="card-top">
                    <div class="profile"><img src="./images/client.png" alt=""></div>
                    <div class="client-name">홍길동</div>
                    <div class="score">(4점)</div>
                </div>
                <div class="card-bottom">
                    <div class="content-prev">내면의 상태를 정확하게 알아차려주셔서 문제해결을 근본적으로 할 수 있었습니다
                        매 회기마다 저에게 꼭 필요한 포인트를 짚어주시고 성장시켜주셔서 감사합니다
                        앞으로의 시간도 기대를 합니다
                    </div>
                    <div class="more-btn">더보기</div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-top">
                    <div class="profile"><img src="./images/client.png" alt=""></div>
                    <div class="client-name">홍길동</div>
                    <div class="score">(4점)</div>
                </div>
                <div class="card-bottom">
                    <div class="content-prev">내면의 상태를 정확하게 알아차려주셔서 문제해결을 근본적으로 할 수 있었습니다
                        매 회기마다 저에게 꼭 필요한 포인트를 짚어주시고 성장시켜주셔서 감사합니다
                        앞으로의 시간도 기대를 합니다
                    </div>
                    <div class="more-btn">더보기</div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-top">
                    <div class="profile"><img src="./images/client.png" alt=""></div>
                    <div class="client-name">홍길동</div>
                    <div class="score">(4점)</div>
                </div>
                <div class="card-bottom">
                    <div class="content-prev">내면의 상태를 정확하게 알아차려주셔서 문제해결을 근본적으로 할 수 있었습니다
                        매 회기마다 저에게 꼭 필요한 포인트를 짚어주시고 성장시켜주셔서 감사합니다
                        앞으로의 시간도 기대를 합니다
                    </div>
                    <div class="more-btn">더보기</div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-top">
                    <div class="profile"><img src="./images/client.png" alt=""></div>
                    <div class="client-name">홍길동</div>
                    <div class="score">(4점)</div>
                </div>
                <div class="card-bottom">
                    <div class="content-prev">내면의 상태를 정확하게 알아차려주셔서 문제해결을 근본적으로 할 수 있었습니다
                        매 회기마다 저에게 꼭 필요한 포인트를 짚어주시고 성장시켜주셔서 감사합니다
                        앞으로의 시간도 기대를 합니다
                    </div>
                    <div class="more-btn">더보기</div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-top">
                    <div class="profile"><img src="./images/client.png" alt=""></div>
                    <div class="client-name">홍길동</div>
                    <div class="score">(4점)</div>
                </div>
                <div class="card-bottom">
                    <div class="content-prev">내면의 상태를 정확하게 알아차려주셔서 문제해결을 근본적으로 할 수 있었습니다
                        매 회기마다 저에게 꼭 필요한 포인트를 짚어주시고 성장시켜주셔서 감사합니다
                        앞으로의 시간도 기대를 합니다
                    </div>
                    <div class="more-btn">더보기</div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-top">
                    <div class="profile"><img src="./images/client.png" alt=""></div>
                    <div class="client-name">홍길동</div>
                    <div class="score">(4점)</div>
                </div>
                <div class="card-bottom">
                    <div class="content-prev">내면의 상태를 정확하게 알아차려주셔서 문제해결을 근본적으로 할 수 있었습니다
                        매 회기마다 저에게 꼭 필요한 포인트를 짚어주시고 성장시켜주셔서 감사합니다
                        앞으로의 시간도 기대를 합니다
                    </div>
                    <div class="more-btn">더보기</div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-top">
                    <div class="profile"><img src="./images/client.png" alt=""></div>
                    <div class="client-name">홍길동</div>
                    <div class="score">(4점)</div>
                </div>
                <div class="card-bottom">
                    <div class="content-prev">내면의 상태를 정확하게 알아차려주셔서 문제해결을 근본적으로 할 수 있었습니다
                        매 회기마다 저에게 꼭 필요한 포인트를 짚어주시고 성장시켜주셔서 감사합니다
                        앞으로의 시간도 기대를 합니다
                    </div>
                    <div class="more-btn">더보기</div>
                </div>
            </a>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<!-- 리뷰 끝 -->

<!-- 상담일정 시작 -->
<div class="schedule">
    <div class="container">
        <h2>상담일정
            <a href="">
                (자세히보기)
            </a>
        </h2>

        <table class="table table-success table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">날짜</th>
                <th scope="col">내담자</th>
                <th scope="col" colspan="2">이용권</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">2024-06-20</th>
                <td>홍길동</td>
                <td colspan="2">[텍스트 테라피] 60분 이용권</td>
            </tr>
            <tr>
                <th scope="row">2024-06-20</th>
                <td>임꺽정</td>
                <td colspan="2">[화상 테라피] 60분 이용권</td>
            </tr>
            <tr>
                <th scope="row">2024-06-21</th>
                <td>박혁거세</td>
                <td colspan="2">[화상 테라피] 60분 이용권</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 상담일정 끝 -->
{{> layout/footer}}