{{> layout/header}}

{{#model}}
    <div class="container mt-5 expert-myPage">
        <h1 class="text-center mb-5">마이페이지</h1>

        <!-- 프로필 보기 -->
        <div class="card mb-4" id="profile-view-card">
            <div class="card-header">
                프로필
            </div>
            <div class="card-body">
                <div id="profile-view" class="profile-container">
                    <div class="profile-image-wrapper">
                        <img src="{{user.profileImage}}" alt="Profile Picture" class="profile-image"
                             id="profileImageView">
                    </div>
                    <div class="profile-details ">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="font-weight-bold">상담사 :</div>
                                <div id="username">{{user.name}}</div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="font-weight-bold">이메일 :</div>
                                <div><i class="fas fa-envelope"></i> <span id="email">{{user.email}}</span></div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="font-weight-bold">명칭 :</div>
                                <div id="level">{{user.expertLevel}}</div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-outline-secondary" id="editProfile"><i class="fas fa-edit"></i> 수정
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 프로필 수정 -->
        <div class="card mb-4 d-none" id="profile-edit-card">
            <div class="card-header">
                프로필 수정
            </div>
            <div class="card-body">
                <div id="profile-edit" class="profile-edit-container">
                    <div class="profile-image-wrapper">
                        <input type="file" id="profileImageInput" class="d-none">
                        <img src="{{user.profileImage}}" alt="Profile Picture" class="profile-image"
                             id="profileImageEdit">
                        <span class="edit-icon"><i class="fas fa-pen"></i></span>
                    </div>
                    <div class="profile-details border">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <div class="font-weight-bold">상담사 :</div>
                                <div>{{user.name}}</div> <!-- 상담사 이름은 텍스트로 표시 -->
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="font-weight-bold">이메일 :</div>
                                <p class="card-text"><i class="fas fa-envelope"></i>{{user.email}}</p>
                            </div>
                            <div class="col-md-6 mb-2">
                                <div class="font-weight-bold">명칭 :</div>
                                <select id="edit-level" class="form-control">
                                    <option value="{{user.expertLevel}}">{{user.expertLevel}}</option>
                                    <option value="1급 심리상담사">1급 심리상담사</option>
                                    <option value="2급 심리상담사">2급 심리상담사</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-outline-secondary" id="cancelEdit">취소</button>
                            <button class="btn btn-outline-primary" id="saveProfile">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#userSpeclist}}
            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            경력
                            <button type="button" class="btn btn-outline-secondary" id="addCareer"><i
                                    class="fas fa-plus"></i></button>
                        </div>
                        <div class="card-body">
                            <form id="career-form">
                                {{#career}}
                                    <div class="spec-list expert">
                                        <div class="spec-type main-color mb-20">{{specType}}</div>
                                        <div class="spec-year mb-10"><span>{{startYear}}</span> ~
                                            <span>{{endYear}}</span>까지
                                        </div>
                                        <div class="spec-details">{{details}}</div>
                                    </div>
                                {{/career}}
                                <!-- 동적으로 추가되는 경력 항목 -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            학력
                            <button type="button" class="btn btn-outline-secondary" id="addEducation"><i
                                    class="fas fa-plus"></i></button>
                        </div>
                        <div class="card-body">
                            <form id="education-form">
                                {{#education}}
                                    <div class="spec-list expert">
                                        <div class="spec-type main-color mb-20">{{specType}}</div>
                                        <div class="spec-year mb-10"><span>{{startYear}}</span> ~
                                            <span>{{endYear}}</span>까지
                                        </div>
                                        <div class="spec-details">{{details}}</div>
                                    </div>
                                {{/education}}
                                <!-- 동적으로 추가되는 학력 항목 -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/userSpeclist}}
        <!-- 확인 버튼 -->
        <div class="form-group row">
            <div class="col-sm-12 text-center mt-3">
                <button type="button" class="btn btn-primary" id="submitForm">확인</button>
            </div>
        </div>
    </div>

    {{> layout/footer}}



    <script>
        // static/expert-mypage.js
        // static/expert-mypage.js
        $(document).ready(function () {
            // 프로필 수정 버튼 클릭 시
            $('#editProfile').on('click', function () {
                $('#profile-view-card').addClass('d-none');
                $('#profile-edit-card').removeClass('d-none');
            });

            // 취소 버튼 클릭 시
            $('#cancelEdit').on('click', function () {
                $('#profile-edit-card').addClass('d-none');
                $('#profile-view-card').removeClass('d-none');
            });

            // 이미지 업로드 시 프리뷰 업데이트 및 Base64 인코딩
            $('#profileImageInput').on('change', function (event) {
                const file = event.target.files[0];
                const reader = new FileReader();
                reader.onload = function (e) {
                    const base64Image = e.target.result.split(',')[1];
                    $('#profileImageEdit').attr('src', e.target.result);
                    $('#profileImageEdit').data('base64', e.target.result); // 전체 base64 문자열 저장
                };
                reader.readAsDataURL(file);
            });

            // 프로필 이미지 수정 아이콘 클릭 시 파일 선택 창 열기
            $('.edit-icon').on('click', function () {
                $('#profileImageInput').click();
            });

            // 저장 버튼 클릭 시
            $('#saveProfile').on('click', function () {
                const expertLevel = $('#edit-level').val();
                const base64Image = $('#profileImageEdit').data('base64');

                const requestData = {
                    expertLevel: expertLevel,
                    profileImage: base64Image // 전체 base64 문자열 전송
                };

                // 폼 전환
                $('#profile-edit-card').addClass('d-none');
                $('#profile-view-card').removeClass('d-none');

                // 서버로 데이터 전송
                $.ajax({
                    url: '/expert/profiles',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(requestData),
                    success: function (e) {
                        console.log("데이타", e.data);
                        alert('프로필이 저장되었습니다.');
                        location.reload();
                    },
                    error: function () {
                        alert('저장에 실패했습니다.');
                    }
                });
            });

            const userId = {{sessionUser.id}};
            // 경력 항목 추가 버튼 클릭 시
            $('#addCareer').on('click', function () {
                const yearOptions = generateYearOptions();
                $('#career-form').append(`
            <div class="input-group">
                <input type="hidden" name="userId" value="${userId}">
                <input type="hidden" name="specType" value="CAREER">
                <div class="append-spec">
                     <label for="startYear">시작일</label>
                     <select id="startYear" class="form-control" name="startYear" >${yearOptions}</select>
                </div>
                <div class="append-spec">
                     <label for="endYear">종료일</label>
                     <select id="endYear" class="form-control" name="endYear">${yearOptions}</select>
                </div>
                <div class="append-spec text">
                    <label for="detail">직무,자격증(허위로 작성시 법적 책임을 물을수 있습니다.)</label>
                    <input id="detail" type="text" class="form-control" name="details" placeholder="직무, 자격증 등을 입력하세요">
                </div>

                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-danger remove"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <hr>
        `);
            });
            // 학력 항목 추가 버튼 클릭 시
            $('#addEducation').on('click', function () {
                const yearOptions = generateYearOptions();
                $('#education-form').append(`
            <div class="input-group">
                <input type="hidden" name="userId" value="${userId}">
                <input type="hidden" name="specType" value="EDUCATION">
                <div class="append-spec">
                     <label for="startYear">시작일</label>
                     <select id="startYear" class="form-control" name="startYear">${yearOptions}</select>
                </div>
                <div class="append-spec">
                     <label for="endYear">종료일</label>
                     <select id="endYear" class="form-control" name="endYear">${yearOptions}</select>
                </div>
                <div class="append-spec text">
                    <label for="detail">학위,전공(허위로 작성시 법적 책임을 물을수 있습니다.)</label>
                    <input id="detail" type="text" class="form-control" name="details" placeholder="학위,전공등을 입력하세요">
                </div>

                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-danger remove"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <hr>
        `);
            });

            $('#submitForm').on('click', function () {
                const careerData = [];
                $('#career-form .input-group').each(function () {
                    const career = {
                        userId: $(this).find('input[name="userId"]').val(),
                        specType: $(this).find('input[name="specType"]').val(),
                        startYear: $(this).find('select[name="startYear"]').val(),
                        endYear: $(this).find('select[name="endYear"]').val(),
                        details: $(this).find('input[name="details"]').val()
                    };
                    careerData.push(career);
                });
                console.log("여기까지 들어옴1")
                console.log(careerData);
                const educationData = [];
                $('#education-form .input-group').each(function () {
                    const education = {
                        userId: $(this).find('input[name="userId"]').val(),
                        specType: $(this).find('input[name="specType"]').val(),
                        startYear: $(this).find('select[name="startYear"]').val(),
                        endYear: $(this).find('select[name="endYear"]').val(),
                        details: $(this).find('input[name="details"]').val()
                    };
                    educationData.push(education);
                });

                const requestData = {};
                if (careerData.length > 0) {
                    requestData.career = careerData;
                }
                if (educationData.length > 0) {
                    requestData.education = educationData;
                }
                console.log("여기까지 들어옴2")
                console.log(careerData);
                // 서버로 데이터 전송
                $.ajax({
                    url: '/expert/specs',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(requestData),
                    success: function () {
                        alert('정보가 수정되었습니다.');
                        // 페이지를 새로고침하거나 다른 페이지로 이동
                        location.reload();
                    },
                    error: function () {
                        alert('저장에 실패했습니다.');
                    }
                });
            });


            // 동적 폼 항목 삭제 기능
            $(document).on('click', '.remove', function () {
                $(this).closest('.input-group').next('hr').remove();
                $(this).closest('.input-group').remove();
            });

            // 연도 선택 옵션 생성 함수
            function generateYearOptions() {
                const currentYear = new Date().getFullYear();
                let options = '';
                for (let year = currentYear; year >= 1900; year--) {
                    options += `<option value="${year}">${year}</option>`;
                }
                return options;
            }

            // 출생 연도 셀렉트 박스에 옵션 추가
            const yearOptions = generateYearOptions();
            $('#edit-birth-year').append(yearOptions);
        });
    </script>

{{/model}}