{{> layout/header}}
<section id="section01">
    <div class="container">
        <div class="page-wrapper">
            <h3 class="page-title mb-20">
                2급) 보이스테라피 1회기권
            </h3>
            <div class="page-content">
                <div class="payment-content">
                    <div class="left-panel">
                        <p class="description"><span>❝</span>1회기당 보이스 시간은 50분이며 결제일로부터 2주간 사용할 수 있습니다</p>
                        <div class="notice">
                            <p>구매 전 유의사항</p>
                            <p>* 본 이용권의 유효기간은 결제일로부터 2주입니다.</p>
                            <p><em>이용기간 내에 이용권 사용을 완료</em>해주세요</p>
                        </div>
                        <div class="discount">
                            <p>할인 적용</p>
                            <div class="coupon">
                                <label for="coupon">쿠폰</label>
                                <div class="body">
                                    <select id="coupon">
                                        <option value="" disabled selected>선택해주세요</option>
                                        <option value="12400">첫 상담을 축하해요! WELCOME 할인 쿠폰 (7일) - 12,400원</option>
                                        <option value="6200">여름 특별 할인 쿠폰 - 6,200원</option>
                                        <option value="3100">봄맞이 할인 쿠폰 - 3,100원</option>
                                    </select>
                                    <button class="coupon-button" id="applyCoupon">쿠폰 등록</button>
                                </div>
                            </div>
                            <div class="coffee">
                                <label for="coffee">커피팝 (보유 커피팝 0개)</label>
                                <div class="body">
                                    <input type="number" id="coffee" value="0" min="0">
                                    <button class="coffee-button">전액 사용</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-panel">
                        <div class="final-amount">
                            <p>최종 결제금액</p>
                            <div class="amount-details">
                                <p>정상가 <span>62,000원</span></p>
                                <p class="coupon-discount">쿠폰 할인 <span>0원</span></p>
                                <p class="total">결제 예정 금액 <span>62,000원</span></p>
                            </div>
                        </div>
                        <div class="payment-method">
                            <p>결제 수단 선택</p>
                            <select>
                                <option value="credit-card">신용카드</option>
                                <option value="mobile-payment">휴대폰결제</option>
                                <option value="real-time-account">실시간 계좌이체</option>
                            </select>
                        </div>
                        <button class="payment-button" id="payButton">62,000원 결제하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-ex">
    <div class="container">
        <div class="footer-left">
            <div class="footer-left-top">
                <ul class="footer-links">
                    <li><a href="#">이용약관</a></li>
                    <li class="bar"></li>
                    <li><a href="#">개인정보 처리방침</a></li>
                    <li class="bar"></li>
                    <li><a href="#">어바웃미 이야기 (공지사항)</a></li>
                </ul>
            </div>
            <div class="footer-left-midele">
                <ul class="company-info">
                    <li>사업자등록번호: 374-81-00313</li>
                    <li class="bar"></li>
                    <li>통신판매업신고 제 2019-서울강남-01000호</li>
                    <li class="bar"></li>
                    <li>대표: 최주호</li>
                    <li class="bar"></li>
                    <li>주소: 서울시 강남구 영동대로 96길 20 4층</li>
                    <br/>
                    <li>대표번호: 070-4924-9855</li>
                    <li class="bar"></li>
                    <li>이메일: cs@getinthere.com</li>
                    <li class="bar"></li>
                    <li>운영시간: 평일 10시-19시, 휴뮤시간: 13-14시, 주말 및 공휴일</li>
                </ul>
            </div>
            <div class="footer-left-bottom">
                <div class="footer-left-logo">
                    <div>
                        <img src="/images/getinthere.png" alt="">
                    </div>
                    <p>&copy; 겟인데어 주식회사</p>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-blog"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-right-logo">
                <div class="logo-text">
                    <div class="logo-img">
                        <img src="/images/getinthere.png" alt="AboutMe Logo">
                    </div>
                    <div>
                        <p>어바웃미</p>
                        <p>심리상담 & 마음 치유 플랫폼</p>
                    </div>
                </div>
                <div class="app-links">
                    <a href="#"><img src="/images/google-play.png" alt="Google Play"></a>
                    <a href="#"><img src="/images/app-store.png" alt="App Store"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</main>
<script src="/js/expert-payment.js"></script>
</body>
</html>