{{> layout/header}}
<section id="section01">
    <div class="container">
        <div class="page-wrapper">
            <h3 class="page-title mb-20 explanation own-time">
                2급) 보이스테라피 1회기권
            </h3>
            <div class="page-content">
                <div class="calendar">
                    <div class="month">
                        <h3>6월 2024년</h3>
                        <div class="days" id="days">
                            <div class="main-color disabled day">일</div>
                            <div class="main-color disabled day">월</div>
                            <div class="main-color disabled day">화</div>
                            <div class="main-color disabled day">수</div>
                            <div class="main-color disabled day">목</div>
                            <div class="main-color disabled day">금</div>
                            <div class="main-color disabled day">토</div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div data-date="1">1</div>
                            <div data-date="2">2</div>
                            <div data-date="3">3</div>
                            <div data-date="4">4</div>
                            <div data-date="5">5</div>
                            <div data-date="6">6</div>
                            <div data-date="7">7</div>
                            <div data-date="8">8</div>
                            <div data-date="9">9</div>
                            <div data-date="10">10</div>
                            <div data-date="11">11</div>
                            <div data-date="12">12</div>
                            <div data-date="13">13</div>
                            <div data-date="14">14</div>
                            <div data-date="15">15</div>
                            <div data-date="16">16</div>
                            <div data-date="17">17</div>
                            <div data-date="18" class="selected">18</div>
                            <div data-date="19">19</div>
                            <div data-date="20">20</div>
                            <div data-date="21">21</div>
                            <div data-date="22">22</div>
                            <div data-date="23">23</div>
                            <div data-date="24">24</div>
                            <div data-date="25">25</div>
                            <div data-date="26">26</div>
                            <div data-date="27">27</div>
                            <div data-date="28">28</div>
                            <div data-date="29">29</div>
                            <div data-date="30">30</div>
                        </div>
                    </div>
                    <div class="times">
                        <h3 class="explanation time">예약 가능한 시간대</h3>
                        <div id="times">
                            <button>18:00</button>
                            <button>19:00</button>
                            <button>20:00</button>
                            <button>21:00</button>
                        </div>
                    </div>
                </div>
                <div class="next-wrapper">
                    <button id="skipButton">건너뛰기</button>
                    <button id="payButton" disabled>결제하기</button>
                </div>
            </div>
        </div>
    </div>
</section>
{{> layout/footer}}