{{> layout/expert-header}}
<section id="section01">
    <div class="container">
        <div class="page-wrapper">
            <div class="line-up">
                <button class="main-background defalut-btn">정렬</button>
            </div>
            <h3 class="page-title mb-20">
                상담일정 확인
            </h3>
            <div class="page-content">
                <div class="schedule">
                    <div class="schedule-title main-background">
                        <span>회원정보</span>
                        <span>이용권</span>
                        <span>횟수/이용횟수</span>
                        <span>신청날짜</span>
                    </div>
                    <ul class="schedule-list">
                        {{#counselList.user}}
                            <li>
                                <div class="schedule-item">
                                    <figure></figure>
                                    <p>{{name}}</p>
                                </div>
                                <div class="schedule-item">
                                    <p>{{voucherType}}</p>
                                </div>
                                <div class="schedule-item">
                                    <p>{{remainCount}}회/{{totalCount}}회</p>
                                </div>
                                <div class="schedule-item">
                                    <p>{{applyDate}}</p>
                                </div>
                            </li>
                        {{/counselList.user}}


                    </ul>
                </div>
                <!-- 페이지 네이션 -->
                <div class="comm-pagination" >
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">2</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
{{> layout/footer}}
