{{> layout/header}}

<!-- 이용권 목록 시작 -->
<div class="voucher-list">
    <h1>이용권 목록</h1>
    <div class="voucher-header">
        <span>홍길동 상담사님의 이용권 목록</span>
        <button>등록하기</button>
    </div>
    <div class="voucher-item">
        <h2>보이스 테라피</h2>
        <table>
            <thead>
            <tr>
                <th>횟수</th>
                <th>시간</th>
                <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td >10회</td>
                <td >10시간</td>
                <td >100,000</td>
            </tr>
            <tr>
                <td >5회</td>
                <td >2시간</td>
                <td >45,000</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="voucher-item">
        <h2>텍스트 테라피</h2>
        <table>
            <thead>
            <tr>
                <th>횟수</th>
                <th>시간</th>
                <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td >5회</td>
                <td >2시간</td>
                <td >45,000</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="voucher-item">
        <h2>비디오 테라피</h2>
        <table>
            <thead>
            <tr>
                <th>횟수</th>
                <th>시간</th>
                <th>가격</th>
            </tr>
            </thead>
            <tr>
                <td >3회</td>
                <td >3시간</td>
                <td >33,000</td>
            </tr>
            <tbody>
            <tr>
                <td >1회</td>
                <td >1시간</td>
                <td >25,000</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="voucher-item">
        <h2>심리검사 & 해석상담</h2>
        <table>
            <thead>
            <tr>
                <th>횟수</th>
                <th>시간</th>
                <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td >2회</td>
                <td >1시간</td>
                <td >20,000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 이용권 목록 끝 -->
{{> layout/footer}}

