{{> layout/header}}

<!-- 이용권 등록 -->
<div class="registration">
    <div class="registration-container">
        <h4>이용권 등록하기</h4>
        <form method="post" id="voucherForm" class="voucher-form-tag">
            <input type="hidden" value="{{expertId}}" name="expertId">
            <div class="voucher-form">
                <div class="voucher-type">
                    <label for="voucherType">이용권:</label>
                    <select class="form-select" id="voucherType" name="voucherType">
                        <option selected disabled>테라피 유형을 선택해 주세요.</option>
                        <option value="TEXT_THERAPY">텍스트 테라피</option>
                        <option value="VOICE_THERAPY">보이스 테라피</option>
                        <option value="VIDEO_THERAPY">비디오 테라피</option>
                    </select>
                </div>
                <div class="count">
                    <label for="count">횟수:</label>
                    <select class="form-select" id="count" name="count">
                        <option selected>횟수를 선택해 주세요.</option>
                        <option value="1">1회</option>
                        <option value="4">4회</option>
                        <option value="8">8회</option>
                    </select>
                </div>
                <div class="duration">
                    <label for="duration">시간:</label>
                    <select class="form-select" id="duration" name="duration">
                        <option selected>상담 시간을 선택해 주세요.</option>
                        <option value="30">30분</option>
                        <option value="50">50분</option>
                        <option value="80">80분</option>
                    </select>
                </div>
                <div class="price">
                    <label for="price">가격:</label>
                    <input class="form-control" type="text" id="price" name="price">
                </div>
            </div>
            <div class="submit-btn-wrap">
                <button class="submit-btn" type="submit">등록하기</button>
            </div>
        </form>
    </div>
</div>
{{> layout/footer}}