{{> layout/client-header}}


<div class="banner-ex">
    <div class="banner-container  container swiper mySwiper">
        <div class="card-container swiper-wrapper">
            <a href="#!" class="card swiper-slide">
                <img src="./images/banner01.jpg" alt="">
            </a>
            <a href="#!" class="card swiper-slide">
                <img src="./images/banner02.jpg" alt="">
            </a>
            <a href="#!" class="card swiper-slide">
                <img src="./images/banner03.jpg" alt="">
            </a>
            <a href="#!" class="card swiper-slide">
                <img src="./images/banner04.jpg" alt="">
            </a>
            <a href="#!" class="card swiper-slide">
                <img src="./images/banner05.jpg" alt="">
            </a>
            <a href="#!" class="card swiper-slide">
                <img src="./images/banner06.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="categories">
        <ul>
            <li><a href="#!"><img src="./images/cate01.jpg" alt="">심리상담</a></li>
            <li><a href="#!"><img src="./images/cate02.jpg" alt="">코칭</a></li>
            <li><a href="#!"><img src="./images/cate03.jpg" alt="">심리검사</a></li>
            <li><a href="#!"><img src="./images/cate04.jpg" alt="">상담센터 찾기</a></li>
        </ul>
    </div>
</div>
<!-- 픽 사연 시작 -->
<div class="pick-ex">
    <div class="pick-container container swiper mySwiper">
        <div class="title">
            <h2>About's PICK</h2>
            <a href="#!" class="view-all">전체보기</a>
        </div>
        <div class="card-container swiper-wrapper">
            {{#clientMain.comms}}
                <a href="#!" class="card swiper-slide">
                    <div class="card-top">
                        <div class="pick-title">
                            {{title}}
                        </div>
                        <div class="category-area">
                            <div class="pick-category">{{category}}</div>
                            <div class="dot"></div>
                            <div>
                                <div class="badge">
                                    <img src=".{{writerImage}}" alt="">
                                </div>
                                <div>{{writerName}}</div>
                            </div>
                        </div>
                        <div class="pick-content">
                            {{content}}
                        </div>
                    </div>
                    <div class="card-bottom">
                        <div class="expert-img">
                            <img src="./images/{{expertImage}}" alt="expert img">
                        </div>
                        <div>{{expertName}}님의 전문가답변</div>
                    </div>
                </a>
            {{/clientMain.comms}}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>
</div>
<!-- 픽 사연 끝 -->
<!-- 센터 위치 시작 -->
<div class="center-ex">
    <div class="center-container container swiper mySwiper">
        <div class="title">
            <h2>국내 1위 대면 심리상담센터</h2>
            <a href="#!" class="view-all">전체보기</a>
        </div>
        <div class="card-container swiper-wrapper">
            <a href="#!" class="card swiper-slide">
                <div class="card-img">
                    <img src="./images/center01.png" alt="">
                </div>
                <div class="location">
                    <div>강남점</div>
                    <div><b>2호선 강남역 도보 3분</b></div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-img">
                    <img src="./images/center02.png" alt="">
                </div>
                <div class="location">
                    <div>강남점</div>
                    <div><b>2호선 강남역 도보 3분</b></div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-img">
                    <img src="./images/center03.png" alt="">
                </div>
                <div class="location">
                    <div>강남점</div>
                    <div><b>2호선 강남역 도보 3분</b></div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-img">
                    <img src="./images/center04.png" alt="">
                </div>
                <div class="location">
                    <div>강남점</div>
                    <div><b>2호선 강남역 도보 3분</b></div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-img">
                    <img src="./images/center05.png" alt="">
                </div>
                <div class="location">
                    <div>강남점</div>
                    <div><b>2호선 강남역 도보 3분</b></div>
                </div>
            </a>
            <a href="#!" class="card swiper-slide">
                <div class="card-img">
                    <img src="./images/center06.png" alt="">
                </div>
                <div class="location">
                    <div>강남점</div>
                    <div><b>2호선 강남역 도보 3분</b></div>
                </div>
            </a>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
<!-- 센터 위치 끝 -->
<!-- 나에게 맞는 전문가 시작 -->
<div class="expert-ex">
    <div class="expert-container container swiper mySwiper">
        <h2>나에게 딱 맞는 전문가</h2>
        <p>공인 자격을 갖춘 검증된 전문가들이 여러분을 기다리고 있어요.</p>
        <div class="card-container swiper-wrapper">
            {{#clientMain.experts}}
                <a href="#!" class="card swiper-slide">
                    <div class="card-top">
                        <div class="expert-img">
                            <img src=".{{expert.profileImage}}" alt="expert img">
                        </div>
                        <div class="expert-name">{{expert.name}}</div>
                        <div>{{expert.expertTitle}}</div>
                    </div>
                    <div class="card-bottom contact">
                        {{#hasTextTherapy}}
                            <div class="review"><img src="/images/chat.png"></div>
                        {{/hasTextTherapy}}
                        {{#hasVoiceTherapy}}
                            <div class="phone"><img src="/images/call.png"></div>
                        {{/hasVoiceTherapy}}
                        {{#hasVideoTherapy}}
                            <div class="map"><img src="/images/video.png"></div>
                        {{/hasVideoTherapy}}
                    </div>
                </a>
            {{/clientMain.experts}}


        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>

{{> layout/footer}}