{{> layout/header}}
{{#model}}

    <div class="container mt-5 user-mypage">
        <h1 class="text-center mb-5 head-title" >마이페이지</h1>
        <!--        프로필 수정 -->
        {{> client/mypage/profileViewAndEdit }}

        <!--        내 이용권 및 결제내역-->
        {{> client/mypage/paymentsAndVoucherTable }}

        <!--    예약관리 및 상담내역    -->
        {{> client/mypage/reservationsAndCounselsAndJournal }}

        <!--        내 커뮤니티 활동-->
        {{> client/mypage/communityAndRepliesAndReviewsTable }}

    </div>
{{/model}}

{{> layout/footer}}
