{{> layout/header}}

{{#model}}
    <div class="d-flex container">
        <div class="content col-md-8">
            <div class="detal-header">{{user.expertTitle}}</div>
            <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="mb-4">
                        <h2><img src="/images/icons8-bot-64.png"> AI가 요약한 후기</h2>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p>{{reviewSummary}}</p>
                            </div>
                        </div>
                        <div></div>
                        <p class="info-note" style="color: rgb(156, 153, 153);">현재 AI 기술 수준에서는 후기 요약이 정확하지 않거나 표현이 어색할 수
                            있습니다.</p>
                    </div>

                    <div class="mb-4">
                        <div>
                            <i class="fa-regular fa-thumbs-up mt-5"></i>
                            <h4 class="fw-bold border-bottom pb-2 mb-4">{{user.name}} 상담사님에 대한 {{user.totalReviews}}개의 후기</h4>
                        </div>

                        <div class="review-rating">
                            <i class="fas fa-star mb-3" style="color: #f5c518;"></i>
                            <span class="mb-3 mx-2">{{user.reviewAge}}</span>
                            <span style="font-size: large; font-weight: lighter;">/5</span>
                        </div>

                        <div class="container mb-4">
                            <div class="row align-items-start">
                                <div class="col-md-12">
                                    <div class="d-flex flex-column justify-content-center">
                                        {{#reviewCounts}}
                                            <div class="d-flex align-items-center mb-2">
                                                <span class="mr-2">{{score}}</span>
                                                <div class="progress flex-grow-1 mx-2" style="height: 20px;">
                                                    <div class="progress-bar"
                                                         style="width: {{percentage}}%; background-color: #ffa75b;"
                                                         aria-valuenow="{{percentage}}" aria-valuemin="0"
                                                         aria-valuemax="100"></div>
                                                </div>
                                                <span>{{count}}</span>
                                            </div>
                                        {{/reviewCounts}}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div>
                            {{#reviews}}
                                <div class="review-item">
                                    <div class="review-header">
                                        <div class="review-score">
                                            <i class="fas fa-star" style="color: #f5c518;"></i> {{reviewScore}}
                                        </div>
                                        <div class="review-best">
                                            BEST
                                        </div>
                                    </div>
                                    <div class="review-text">
                                        {{content}} <a href="#"></a>
                                    </div>
                                    <div class="review-footer">
                                        <div>
                                            <i class="fas fa-comments"></i> {{voucherType}}
                                        </div>
                                        <div>
                                            <i class="fas fa-user"></i> {{voucherCount}}회기권 구매고객
                                        </div>
                                    </div>
                                </div>
                            {{/reviews}}
                        </div>
                        <div class="review-toggle btn-group">
                            <button class="btn btn-toggle more " type="button">후기 더보기</button>
                            <button class="btn btn-toggle less mx-2" type="button" style="display: none;">접기</button>
                        </div>
                    </div>

                </div>
                <div class="mb-4">
                    <div>
                        <i class="fa-regular fa-thumbs-up mt-5"></i>
                        <h4 class="fw-bold border-bottom pb-2">{{user.name}} 상담사님의 간단한 소개</h4>
                    </div>
                    <div class="container mt-3">
                        <!-- 경력 및 학력 -->
                        <div class="row">
                            <!-- 경력 -->
                            <div class="col-12 col-lg-6">
                                <h4 class="fw-bold mb-3 border-bottom pb-2">경력</h4>
                                <ul class="list-group">
                                    {{#careerSpecs}}
                                        <li class="list-group-item">{{details}}</li>
                                    {{/careerSpecs}}
                                </ul>
                            </div>
                            <!-- 학력 -->
                            <div class="col-12 col-lg-6">
                                <h4 class="fw-bold mb-3 border-bottom pb-2">학력</h4>
                                <ul class="list-group">
                                    {{#educationSpecs}}
                                        <li class="list-group-item">{{details}}</li>
                                    {{/educationSpecs}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 상담사 질문 섹션 -->
                <div class="mb-4">
                    <div>
                        <i class="fa-regular fa-thumbs-up mt-5"></i>
                        <h4 class="fw-bold border-bottom pb-2">{{user.name}} 상담사님에게 여쭤봤어요</h4>
                    </div>
                    <div class="row experience mt-3">
                        {{#prs}}

                            <div class="col-md-6">
                                <h5 class="fw-bold mb-3">심리상담을 망설이는 분에게</h5>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="content-container" id="content2">
                                            {{intro}}
                                            <div class="overlay"></div>
                                        </div>
                                        <span class="toggle-text" data-target="#content2">더보기</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5 class="fw-bold mb-3">상담사님의 심리상담 효과</h5>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="content-container" id="content3">
                                            {{effects}}

                                            <div class="overlay"></div>
                                        </div>
                                        <span class="toggle-text" data-target="#content3">더보기</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5 class="fw-bold mb-3">상담사님의 심리상담 방식</h5>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="content-container" id="content4">
                                            {{methods}}
                                            <div class="overlay"></div>
                                        </div>
                                        <span class="toggle-text" data-target="#content4">더보기</span>
                                    </div>
                                </div>
                            </div>
                        {{/prs}}
                    </div>
                </div>
                <!-- 상담사 질문 섹션 -->
            </div>
        </div>
        <div class="col-md-2" style="margin-left: auto; position: relative; width: 290px;">
            <div class="card-expert">
                <img src="{{user.profileImage}}" alt="상담사 사진">
                <div class="card-body">
                    <!-- TODO: 4.95자리에 averageScore를 다시 넣기 -->
                    <h2>{{user.name}} <span class="rating">★ {{user.reviewAge}}</span> ({{user.totalReviews}})</h2>
                    <p>1회 최저 가격</p>
                    <p class="price">{{lowestPrice}}</p>
                    <a href="/client/findExpert/voucher/{{user.expertId}}" class="button-container">이용권 선택하기</a>
                </div>
            </div>
        </div>
    </div>
{{/model}}

{{> layout/footer}}
