{{> layout/client-header}}


<main>
    <section id="section01">
        <div class="container">
            <div class="page-wrapper">
                <h3 class="page-title mb-20">
                    맞춤 전문가 찾기
                </h3>
                <div class="page-content">
                    <div class="divide-wrapper">
                        <div class="expert-side">
                            <div class="search-wrapper mb-20">
                                <form action="#" method="#">
                                    <div class="input-wrapper search">
                                        <button class="search-submit-btn black-color"><i class="fa-regular fa-magnifying-glass"></i></button>
                                        <input type="text" placeholder="이름,증상을 검색해주세요">
                                    </div>
                                </form>
                            </div>
                            <div class="option-wrapper">
                                <form action="#" method="#">
                                    <div class="date mb-30">
                                        <p class="mb-10">가능일시</p>
                                        <div class="calendar option-list">
                                            <div class="month">
                                                <button id="prevMonth"><i class="fa-regular fa-chevron-left"></i></button>
                                                <h3>6월 2024년</h3>
                                                <button id="nextMonth"><i class="fa-regular fa-chevron-right"></i></button>
                                            </div>
                                            <div class="days" id="days">
                                                <!-- Days will be dynamically generated here -->
                                            </div>
                                            <div class="times" id="times">
                                                <!-- Times will be dynamically generated here -->
                                            </div>
                                        </div>

                                    </div>

                                    <div class="situation mb-30">
                                        <p class="mb-10">나의 상황</p>
                                        <ul class="option-list btn">
                                            <li data-value="결혼/육아">결혼/육아</li>
                                            <li data-value="대인관계">대인관계</li>
                                            <li data-value="직장">직장</li>
                                            <li data-value="이별/이혼">이별/이혼</li>
                                            <li data-value="가족">가족</li>
                                            <li data-value="자아/성격">자아/성격</li>
                                            <li data-value="정신건강">정신건강</li>
                                            <li data-value="취업/진로">취업/진로</li>
                                            <li data-value="신체건강">신체건강</li>
                                            <li data-value="성추행">성추행</li>
                                            <li data-value="중독/집착">중독/집착</li>
                                            <li data-value="금전/사업">금전/사업</li>
                                            <li data-value="학업/고시">학업/고시</li>
                                            <li data-value="외모">외모</li>
                                            <li data-value="연애">연애</li>
                                            <li data-value="LGBT">LGBT</li>
                                        </ul>
                                    </div>
                                    <div class="state mb-30">
                                        <p class="mb-10">나의 증상</p>
                                        <ul class="option-list btn">
                                            <li data-value="우울">우울</li>
                                            <li data-value="스트레스">스트레스</li>
                                            <li data-value="화병">화병</li>
                                            <li data-value="불안">불안</li>
                                            <li data-value="섭식">섭식</li>
                                            <li data-value="공황">공황</li>
                                            <li data-value="조울증">조울증</li>
                                            <li data-value="불면">불면</li>
                                            <li data-value="트라우마">트라우마</li>
                                            <li data-value="강박">강박</li>
                                            <li data-value="콤플렉스">콤플렉스</li>
                                            <li data-value="자존감">자존감</li>
                                            <li data-value="자살">자살</li>
                                            <li data-value="충동/폭력">충동/폭력</li>
                                            <li data-value="조현병">조현병</li>
                                            <li data-value="신체화">신체화</li>
                                        </ul>
                                    </div>
                                    <div class="counseling-method mb-30">
                                        <p class="mb-10">상담 방식</p>
                                        <ul class="option-list check">
                                            <li>
                                                <label for="counseling01">30분상담</label>
                                                <input type="checkbox" id="counseling01" name="counseling" value="partTime">
                                            </li>
                                            <li>
                                                <label for="counseling02">보이스 테라피(전화 상담)</label>
                                                <input type="checkbox" id="counseling02" name="counseling" value="voice">
                                            </li>
                                            <li>
                                                <label for="counseling03">텍스트 테라피(채팅 상담)</label>
                                                <input type="checkbox" id="counseling03" name="counseling" value="text">
                                            </li>
                                            <li>
                                                <label for="counseling04">페이스 테라피(화상 상담)</label>
                                                <input type="checkbox" id="counseling04" name="counseling" value="face">
                                            </li>
                                            <li>
                                                <label for="counseling05">대면 상담(심리케어센터)</label>
                                                <input type="checkbox" id="counseling05" name="counseling" value="meet">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="gender mb-30">
                                        <p class="mb-10">성별</p>
                                        <ul class="option-list check">
                                            <li>
                                                <label for="man">남</label>
                                                <input type="radio" id="man" name="gender" value="man">
                                            </li>
                                            <li>
                                                <label for="girl">여</label>
                                                <input type="radio" id="girl" name="gender" value="girl">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="rating mb-30">
                                        <p class="mb-10">급수</p>
                                        <ul class="option-list check">
                                            <li>
                                                <label for="level01">1급</label>
                                                <input type="radio" id="level01" name="rating" value="level01">
                                            </li>
                                            <li>
                                                <label for="level02">2급</label>
                                                <input type="radio" id="level02" name="rating" value="level02">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="grade">
                                        <p class="mb-10">등급</p>
                                        <ul class="option-list check">
                                            <li>
                                                <label for="grade">우수</label>
                                                <input type="checkbox" name="grade" value="excellent">
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="expert-list">
                            {{#expertList.experts}}
                                <li>
                                    <a class="link" href="/client/findExpert/detail/{{expertId}}">
                                        <div class="expert-info">
                                            <div class="info-head mb-10">
                                                <span class="head-name">{{name}}</span>
                                                <span class="head-star"><i class="fa-solid fa-star"></i>4.95<em class="evaluate-count">(110)</em></span>
                                            </div>
                                            <div class="expert-body">
                                                <p class="body-title mb-10">{{title}}</p>
                                                <ul class="type-consultation mb-10">
                                                    {{#images}}
                                                        <li><img src="{{url}}" alt="상담 방식"></li>
                                                    {{/images}}
                                                </ul>
                                                <span class="active-color">전문가 프로필 보기<i class="fa-solid fa-chevron-right active-color"></i></span>
                                            </div>
                                        </div>
                                        <div class="expert-image">
                                            <figure>
                                                <img src="/images/{{profileImage}}" alt="전문가 사진">
                                            </figure>
                                        </div>
                                    </a>
                                </li>
                            {{/expertList.experts}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

{{> layout/footer}}
