/* 배너 */
.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 30px 0;
}

.banner-container .card-container a img {
    width: 100%;
}

.banner-container .card-container .card {
    border: none;
}

.categories ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.categories img {
    color: black;
    text-decoration: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
}

.card {
    text-decoration: none;
}

/* 픽 사연 */
.container .title {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.pick-ex {
    width: 100vw;
    background-color: #EAF5F5;
    padding: 30px 0;
}

.pick-container {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}

.pick-container .view-all {
    font-size: 16px;
    color: #359798;
    text-decoration: none;
    margin-left: 10px;
}

.pick-container .view-all:hover {
    font-weight: bold;
}

.pick-container .card-container {
    scroll-behavior: smooth;
    display: flex;
    transition: transform 0.5s ease;
}

.pick-container .card {
    flex: 0 0 calc(33.333% - 20px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    /* margin-right: 20px; */
    margin: 0 10px;

}

.pick-container .card-top {
    border-bottom: 1.5px solid #e6e6e6;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.pick-container .card-top .category-area {
    display: flex;

}

.pick-container .card-top .category-area > div {
    display: flex;
}

.pick-container .card-top .pick-title {
    font-size: 18px;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pick-container .card-top .pick-category {
    color: #359798;
    font-weight: bold;
}

.dot {
    width: 2px;
    height: 2px;
    background-color: black;
    margin: 10px 0 10px 6px;
}

.pick-container .card-top .category-area .badge {
    width: 30px;
    height: 30px;
}

.pick-container .card-top .category-area .badge img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.pick-container .card-bottom {
    display: flex;
}

.pick-container .card-bottom .expert-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.pick-container .card-bottom .expert-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* 센터 */
.center-ex {
    padding: 30px 0;
}

.center-container .view-all {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    color: #359798;
}

.center-container .view-all:hover {
    font-weight: bold;
}

.center-container .card {
    flex: 0 0 calc(25% - 10px);
    /* flex: 0 0 calc(33.33% - 14px);  */

    box-sizing: border-box;
    margin-right: 14px;
    /* margin-right: 20px; */
    margin: 0 5px;

    border: none;
    position: relative;
}

.center-container .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.center-container .card .location {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
}

.center-container .card .location > div,
.center-container .card .location > div b {
    color: white;
}

.center-container .card .location > div:first-child {
    display: inline-block;
    padding: 4px 6px;
    background-color: #000000;
    opacity: 0.5;
    border-radius: 5px;
    font-size: 11px;

}

/* 나에게 맞는 전문가 */

.expert-ex {
    width: 100vw;
    background-color: #EAF5F5;
    padding: 30px 0;
}

.expert-container .card-container {
    scroll-behavior: smooth;
    display: flex;
    transition: transform 0.5s ease;
}

.expert-container .card {
    flex: 0 0 calc(25% - 10px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    /* margin-right: 10px; */
    margin: 0 5px;
}

.expert-container .card-top .expert-img {
    width: 45px;
    height: 45px;
}

.expert-container .card-top .expert-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.expert-container .card-top .expert-name {
    font-weight: bold;
}

.expert-container .card-top .expert-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expert-container .card-bottom.contact {
    display: flex;
    gap: 10px;
}

.expert-container .card-bottom.contact > div {
    width: 20px;
    height: 20px;
}

.expert-container .card-bottom.contact > div img{
    width: 100%;
    height: 100%;
}

/* 화살표 버튼 */
.pick-container.swiper .swiper-wrapper .swiper-slide .swiper-slide-visible .swiper-slide-next {
    transform: translate3d(-55px, -10px, -290px) rotateX(0deg) rotateY(0deg) scale(1);
}

.pick-container.swiper .swiper-wrapper .swiper-slide .swiper-slide-visible .swiper-slide-prev {
    transform: translate3d(55px, -10px, -290px) rotateX(0deg) rotateY(0deg) scale(1);
}

.pick-container.swiper .swiper-wrapper .swiper-slide a img {
    width: 360px;
}

.pick-container.swiper .swiper-wrapper .swiper-slide a div {
    position: absolute;
    bottom: 0;
    opacity: 0.6;
    padding: 20px 25px;
    width: 360px;
    height: 75px;
    background-color: #e6e6e6;
    box-sizing: border-box;
}

.pick-container.swiper .swiper-wrapper .swiper-slide a div p {
    font-size: 12px;
}

.pick-container.swiper .swiper-wrapper .swiper-slide a div b {
    font-size: 13px;
}

.pick-container.swiper .swiper-button-next,
.pick-container.swiper .swiper-rtl .swiper-button-prev,
.pick-container.swiper .swiper-button-prev,
.pick-container.swiper .swiper-rtl .swiper-button-next {
    color: #e6e6e6;
    width: 60px;
    height: 60px;
}

.pick-container.swiper .swiper-button-prev,
.pick-container.swiper .swiper-rtl .swiper-button-next {
    left: -15px;
}

.pick-container.swiper .swiper-button-next,
.pick-container.swiper .swiper-rtl .swiper-button-prev {
    right: -15px;
}

.pick-container.swiper .swiper-scrollbar-drag {
    background-color: #fd8234;
}

.pick-container.swiper .horizontal > .swiper-scrollbar,
.pick-container.swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 12px;
}

/* 전문가 슬라이드 화살표 */
.expert-container.swiper .swiper-wrapper .swiper-slide .swiper-slide-visible .swiper-slide-next {
    transform: translate3d(-55px, -10px, -290px) rotateX(0deg) rotateY(0deg) scale(1);
}

.expert-container.swiper .swiper-wrapper .swiper-slide .swiper-slide-visible .swiper-slide-prev {
    transform: translate3d(55px, -10px, -290px) rotateX(0deg) rotateY(0deg) scale(1);
}

.expert-container.swiper .swiper-wrapper .swiper-slide a img {
    width: 360px;
}

.expert-container.swiper .swiper-wrapper .swiper-slide a div {
    position: absolute;
    bottom: 0;
    opacity: 0.6;
    padding: 20px 25px;
    width: 360px;
    height: 75px;
    background-color: #e6e6e6;
    box-sizing: border-box;
}

.expert-container.swiper .swiper-wrapper .swiper-slide a div p {
    font-size: 12px;
}

.expert-container.swiper .swiper-wrapper .swiper-slide a div b {
    font-size: 13px;
}

.expert-container.swiper .swiper-button-next,
.expert-container.swiper .swiper-rtl .swiper-button-prev,
.expert-container.swiper .swiper-button-prev,
.expert-container.swiper .swiper-rtl .swiper-button-next {
    color: #e6e6e6;
    width: 60px;
    height: 50%;
}

.expert-container.swiper .swiper-button-prev,
.expert-container.swiper .swiper-rtl .swiper-button-next {
    left: -15px;
}

.expert-container.swiper .swiper-button-next,
.expert-container.swiper .swiper-rtl .swiper-button-prev {
    right: -15px;
}

.expert-container.swiper .swiper-scrollbar-drag {
    background-color: #fd8234;
}

.expert-container.swiper .horizontal > .swiper-scrollbar,
.expert-container.swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 12px;
}

/* 센터 화살표 */
.center-container.swiper .swiper-wrapper .swiper-slide .swiper-slide-visible .swiper-slide-next {
    transform: translate3d(-55px, -10px, -290px) rotateX(0deg) rotateY(0deg) scale(1);
}

.center-container.swiper .swiper-wrapper .swiper-slide .swiper-slide-visible .swiper-slide-prev {
    transform: translate3d(55px, -10px, -290px) rotateX(0deg) rotateY(0deg) scale(1);
}

.center-container.swiper .swiper-wrapper .swiper-slide a img {
    width: 360px;
}

.center-container.swiper .swiper-wrapper .swiper-slide a div {
    position: absolute;
    bottom: 0;
    opacity: 0.6;
    padding: 20px 25px;
    width: 360px;
    height: 75px;
    background-color: #e6e6e6;
    box-sizing: border-box;
}

.center-container.swiper .swiper-wrapper .swiper-slide a div p {
    font-size: 12px;
}

.center-container.swiper .swiper-wrapper .swiper-slide a div b {
    font-size: 13px;
}

.center-container.swiper .swiper-button-next,
.center-container.swiper .swiper-rtl .swiper-button-prev,
.center-container.swiper .swiper-button-prev,
.center-container.swiper .swiper-rtl .swiper-button-next {
    color: #e6e6e6;
    width: 60px;
    height: 60px;
}

.center-container.swiper .swiper-button-prev,
.center-container.swiper .swiper-rtl .swiper-button-next {
    left: -15px;
}

.center-container.swiper .swiper-button-next,
.center-container.swiper .swiper-rtl .swiper-button-prev {
    right: -15px;
}

.center-container.swiper .swiper-scrollbar-drag {
    background-color: #fd8234;
}

.center-container.swiper .horizontal > .swiper-scrollbar,
.center-container.swiper .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 12px;
}

