.review .container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review .header {
    background-color: #ffa45b;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.review .header img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.review .header-info h1 {
    margin: 0;
    font-size: 1.5em;
}

.review .header-info p {
    margin: 0;
}

.review .form-group {
    margin: 15px 0;
}

.review .form-group label {
    display: block;
    margin-bottom: 5px;
}

.review .form-group input,
.review .form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    height: auto;
}

.review .form-group-button {
    display: flex;
    justify-content: flex-end;
}

.review .form-group textarea {
    height: 120px;
}

.review .form-group-button button {
    background-color: #ffa45b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: auto;
    margin-left: auto;
}

.review .form-group-button button:hover {
    background-color: #fd780f;
}

.review .rating {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.review .rating input {
    display: none;
}

.review .rating label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s;
}

.review .rating input:checked ~ label {
    color: #ddd;
}

.review .rating input#star1:checked ~ label[for="star1"],
.review .rating input#star2:checked ~ label[for="star1"],
.review .rating input#star2:checked ~ label[for="star2"],
.review .rating input#star3:checked ~ label[for="star1"],
.review .rating input#star3:checked ~ label[for="star2"],
.review .rating input#star3:checked ~ label[for="star3"],
.review .rating input#star4:checked ~ label[for="star1"],
.review .rating input#star4:checked ~ label[for="star2"],
.review .rating input#star4:checked ~ label[for="star3"],
.review .rating input#star4:checked ~ label[for="star4"],
.review .rating input#star5:checked ~ label[for="star1"],
.review .rating input#star5:checked ~ label[for="star2"],
.review .rating input#star5:checked ~ label[for="star3"],
.review .rating input#star5:checked ~ label[for="star4"],
.review .rating input#star5:checked ~ label[for="star5"] {
    color: #ffa45b;
}

.review .rating input:not(:checked) + label:hover,
.review .rating input:not(:checked) + label:hover + label {
    color: #ffa45b;
}

.review .rating label:before {
    content: '\f005'; /* FontAwesome star icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}