.comm-pagination {
    display: flex;
    justify-content: center;
}

nav ul li a::before {
    content: "";
    position: absolute;
    width: 0px !important;
    height: 100%;
    right: 0;
    /* background-color: #333; */
}