@charset "UTF-8";
@import url(reset.css);
@import url(common.css);
@import url(layout/header.css);
@import url(layout/footer.css);
@import url(oauth/login.css);
@import url(oauth/join.css);
@import url(client/findExpert/detail.css);
@import url(client/findExpert/experience.css);
@import url(client/findExpert/voucher.css);
@import url(expert/mypage.css);
@import url(client/findExpert/main.css);
@import url(expert/voucher-form.css);
@import url(expert/voucher-list.css);
@import url(client/mypage.css);
@import url(client/main.css);
@import url(client/comm/comm.css);
@import url(expert/community.css);
@import url(expert/review.css);
@import url(expert/schedule.css);


body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    padding: 0;
}

/* 상세보기 */
#section01 {
    margin-bottom: 100px;
}

/* 전체적인 스타일 */

.container {

}

.page-wrapper {

}

.page-title {

}

.expert-side {
    width: 250px;
    margin-right: 50px;
    position: sticky;
    top: 20px;
    height: 100%;
}

/* 페이지 내용 */
.page-content {

}

.divide-wrapper {
    display: flex;
}

.option-wrapper {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
}

.time-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.time-list::-webkit-scrollbar {
    display: none;
}

.time-list li {
    padding: 10px;
    border-radius: 5px;
    height: 35px;
    background: #bfe7e7;
    display: flex;
    align-items: center;
    width: 70px;
    margin-right: 10px;
    cursor: pointer;
}

/* 옵션 섹션 */
.option-wrapper p {
    position: relative;
    cursor: pointer;
}

.option-wrapper p:before {
    transition: 0.5s ease;
    content: "\f077";
    width: 10px;
    height: 10px;
    font-size: 10px;
    color: #666;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-family: "Font Awesome 6 free";
    display: block;
    font-weight: 600;
}

.option-wrapper p.active::before {
    transform: translateY(-50%) rotate(180deg);
}

.option-list {
    display: flex;
    flex-wrap: wrap;

}

.option-list.btn li {
    padding: 5px 10px;
    background: #ededed;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 12px;
    margin-bottom: 8px;
    cursor: pointer;
}

.option-list.btn li.active {
    background: #00bbba;
    color: #fff;
}

.option-list.check li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 14px;
}

.option-list li label {

}

.option-list li input {

}

/* 각 옵션 섹션 */
.counseling-method,
.gender,
.rating,
.grade,
.situation,
.state {

}

/* 전문가 리스트 */
.expert-list {
    margin-top: 60px;
    width: calc(100% - 300px);
    border-top: 1px solid #ddd;
}

.expert-list > li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.expert-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 전문가 정보 */
.info-head {

}

.head-name {
    font-size: 20px;
    font-weight: 700;
}

.head-star {
    font-size: 20px;
    font-weight: bold;
}

.head-star i {
    color: #ffd400;
}

.evaluate-count {
    font-size: 16px;
    color: #ddd;
    font-weight: 400;
    margin-left: 5px;
}

/* 전문가 본문 */
.expert-body {

}

.body-title {
    color: #999;
}

.type-consultation {
    display: flex;
}

.type-consultation li {

}

.type-consultation img {
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
}

/* 전문가 이미지 */
.expert-image {

}

.expert-image figure {
    width: 120px;
    max-height: 160px;
    border-radius: 5px;
    overflow: hidden;
}

.expert-image img {
    width: 100%;
    object-fit: cover;
}

/* 전문가 프로필 링크 */
.expert-info a {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.expert-info a.link {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
}

.expert-info a.link i {

}

.date .day {
    font-size: 16px;
}

.calendar .days div {
    font-size: 12px;
}

/* 캘린더 */
.date .calendar .times {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    border: none;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.date .calendar .times button {
    font-size: 14px;
    width: 80px;
}

.date .calendar .month button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.date .calendar .month button i {
    font-size: 12px;
    font-weight: 600;
}

.date .calendar {
    flex-direction: column;
}

.date .calendar .month {
    width: 100%;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date .calendar .month h3 {
    margin-bottom: 0;
    font-size: 12px;
}

.calendar {
    display: flex;
    justify-content: space-between;
}

.calendar .month {
    text-align: center;
    width: 700px;
    border: 1px solid #ddd;
    padding: 50px;
    border-radius: 5px;
}

.calendar .month h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.calendar .days div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.calendar .days .selected {
    color: #fff;
}

.date .calendar .days .selected:before {
    width: 20px;
    height: 20px;
}

.calendar .days .selected:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #00bbba;
    color: white;
    z-index: -1;
}

.times {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc((100% - 750px));
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 50px;
    padding: 50px 20px;
}

.times h3 {
    font-weight: 700;
    font-size: 18px;
}

.times button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #bfe7e7;
    cursor: pointer;
    height: 40px;
    width: calc((100% - 15px) / 4);
    margin-right: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.times button:last-child {
    margin-right: 0;
}

.times button:hover {
    background-color: #00bbba;
    color: white;
}

.times button.active {
    background-color: #00bbba;
    color: white;
}

.next-wrapper {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 20px;
}

.next-wrapper button {
    width: calc(50% - 10px);
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-wrapper button#payButton.active {
    background-color: #00bbba;
    color: white;
}


/* 결제 CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.payment-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.payment-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-button {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

.payment-header h2 {
    margin: 0;
    font-size: 24px;
}

.payment-content {
    display: flex;
    justify-content: space-between;
}

.left-panel {
    width: 550px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
}

.right-panel {
    width: calc(100% - 600px);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    height: fit-content;
}

.description {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f8f8f8;
    flex-direction: column;
}

.description span {
    font-size: 30px;
    opacity: 0.1;
    color: #00bbba
}

.notice {
    margin-bottom: 40px;
}

.notice p:first-child {
    font-weight: bold;
    margin-bottom: 20px;
}

.notice p:nth-child(2) {
    margin-bottom: 10px;
    color: #999;
    font-size: 14px;
}

.notice p:nth-child(3) {
    padding-left: 10px;
    font-size: 14px;
}

.notice p:nth-child(3) em {
    color: #00bbba;
}

.discount {
    margin-bottom: 20px;
}

.discount p {
    font-weight: bold;
    margin-bottom: 10px;
}

.coupon .body, .coffee .body {
    width: 100%;
}

.coupon, .coffee {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-direction: column;
}

.coupon label, .coffee label {
    font-size: 12px;
    margin: 10px 0;
}

.coupon select, .coffee input {
    padding: 5px;
    margin-right: 10px;
    height: 40px;
    border-radius: 5px;
    width: calc((70%));
    font-size: 14px;
}

.coupon select {
    border: 1px solid #ddd;
}

.coffee input {
    background: hsl(180, 5%, 95%);
    padding: 0 10px;
}

.coupon-button, .coffee-button {
    padding: 5px 10px;
    background-color: #00bbba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: calc(30% - 15px);
}

.final-amount {
    margin-bottom: 20px;
}

.final-amount p {
    font-weight: bold;
    margin-bottom: 10px;
}

.amount-details p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding-bottom: 10px;
}

.amount-details .total {
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.amount-details .total span {
    color: #00bbba;
}

.payment-method p {
    font-weight: bold;
    margin-bottom: 10px;
}

.payment-method select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.amount-details .coupon-discount {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid #000;
    padding: 10px 0;
}

.amount-details {
    padding: 20px;
    border-radius: 5px;
    background: #f8f8f8;
}

.payment-button {
    width: 100%;
    /* padding: 15px; */
    background-color: #00bbba;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    height: 40px;
}

.payment-button:hover {
    background-color: #009695;
}