/* *************************** 전문가 커뮤니티 관련 CSS 시작 ***************************** */
.comm-navbar {
}

.comm-navbar .container-fluid {
}

.comm-navbar .container-fluid .navebar-brand {
}

.comm-navbar .container-fluid .navebar-toggler {
}

.navbar {
    padding: 0;
}

.write-post-link {
    background-color: #f47821; /* 링크 배경색 */
    color: #fff; /* 링크 글자색 */
    padding: 10px 18px; /* 링크 내부 패딩 */
    border-radius: 8px; /* 링크 모서리 둥글게 */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-weight: bold; /* 링크 글꼴 두껍게 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
    display: inline-block; /* 인라인 블록 요소로 변경 */
    float: right;
}

.write-post-link:hover {
    background-color: #d46107; /* 호버시 배경색 변경 */
}

.container-fluid {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.comm-filter {
    margin-top: 20px;
}

.comm-filter button {
    height: 40px;
    border: none;
    width: 90px;
    border-radius: 50px;
    margin-right: 5px;
    color: #000;
    background: #fff;
    padding: 0;
}

.comm-filter button.active {
    color: #fff;
    background: #000;
}

.comm-filter #writeButton {
    background-color: #ff9500;
    color: white; /* 글자색을 흰색으로 설정 */
    padding: 10px 20px; /* 적절한 패딩 값 설정 */
    border: none; /* 기본 테두리 제거 */
    cursor: pointer; /* 포인터 커서 설정 */
    transition: background-color 0.3s; /* 배경색 변경 시 부드러운 전환 효과 설정 */
    float: right;
}

.comm-filter #writeButton:hover {
    background-color: #f47821; /* 호버 시 배경색을 밝은 주황색으로 변경 */
}

.c-card {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.c-card .c-card-body {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    height: fit-content;
    padding: 20px;
    background: #fff;
    height: 200px;
}

.c-card .c-card-body.comdetail {
    width: 100%;
    border: none;
}

.c-card .c-card-body:nth-child(3n) {
    margin-right: 0;
}

.c-card .c-card-body .card-title {
    font-weight: 700;
    font-size: 18px;
}

.c-card .c-card-body button {
}

.c-card .c-card-body .card-text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2;
    margin-bottom: 20px;
}

.c-card .c-card-body .card-link {
    margin-left: 0;
    margin-right: 5px;
}


.c-card-body > a {
    display: block;
    width: 100%;
}

.c-card-body > a:hover p {
    text-decoration: underline;
}

.category {
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
}

.user-info {

}

.user-info figure {

}

.user-info img {

}

.user-info span {
    font-size: 14px;
    margin-left: 5px;
    color: #999;
}

.card-text {

}

.link-wrapper {

}

.card-link {

}

.card-link.like {

}

.card-link.reply {

}

.card-link em.count {
    margin-left: 5px;
}

.community-cartegory {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.community-cartegory.detail {
    justify-content: space-between;
}

.community-cartegory .user-info {
    display: flex;
    align-items: center;
}

.community-cartegory figure {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.community-cartegory figure img {
    width: 100%;
    object-fit: cover;
}

.actions {
}

.community-cartegory .actions .right-actions {
    display: flex;
}

.actions .right-actions button {
    padding: 0;
    background: #f8f8f8;
    font-size: 14px;
}

.actions .right-actions button span {
    margin-left: 5px;
}

.actions .right-actions .dropdown {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    position: relative;

}

.actions .right-actions .dropdown > button {
    width: 100%;
    height: 100%;
    border: none;
    background: #f8f8f8;
    border-radius: 5px;
    outline: none;
}

.actions .right-actions .dropdown > button.show {
}

.actions .right-actions .dropdown > button:hover {
    background: #f2f2f2;
}

.community-cartegory .actions .right-actions .dropdown > button i {
    font-weight: 600;
}

.dropdown-menu {

}

.right-actions .dropdown .dropdown-menu {
    position: absolute;
    top: 140%;
    right: 0;
    left: inherit;
    width: 90px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.right-actions .dropdown .dropdown-menu .dropdown-item {
    outline: none;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background: none;
}

.right-actions .dropdown .dropdown-menu .dropdown-item:hover {
    background: #f8f8f8;
}

.community-cartegory .actions .right-actions .dropdown .dorpdown-menu.show {
}

.community-cartegory .actions .right-actions .dropdown .dorpdown-menu button.dropdown-item {
}

.expert-reply {
    padding: 20px;
    background: #f8f8f8;
    margin-top: 20px;
    border-radius: 5px;
}

.expert-reply .expert-reply-info {
    display: flex;
    align-items: center;
}

.expert-reply .expert-reply-info figure {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.expert-reply .expert-reply-info figure img {
    width: 100%;
}

.expert-reply .expert-reply-info .expert-reply-name {
    margin-left: 5px;
    font-weight: 600;
    font-size: 14px;
}

.expert-reply .reply-content {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2;
}

.community-cartegory .actions .right-actions a {
}










