.expert-myPage .profile-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.expert-myPage .profile-edit-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.expert-myPage .profile-image-wrapper {
    position: relative;
    margin-right: 20px;
}

.expert-myPage .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.expert-myPage .edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.expert-myPage .profile-details {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}

.expert-myPage .profile-container .row > div,
.expert-myPage .profile-edit-container .row > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.expert-myPage .profile-container .row > div .font-weight-bold,
.expert-myPage .profile-edit-container .row > div .font-weight-bold {
    width: 30%;
    text-align: right;
    padding-right: 10px;
}

.expert-myPage .profile-container .row > div > div,
.expert-myPage .profile-edit-container .row > div input,
.expert-myPage .profile-edit-container .row > div p,
.expert-myPage .profile-edit-container .row > div select,
.expert-myPage .profile-edit-container .row > div .form-check {
    width: 70%;
    margin: 0;
}

.expert-myPage .btn-container {
    text-align: center;
    margin-top: 20px;
}

.expert-myPage .form-control {
    width: 100%;
}

.expert-myPage .tabs-container {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background: white;
    padding: 15px;
    margin-bottom: 20px;
}

.expert-myPage .tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.expert-myPage .tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}

.expert-myPage .tab.active {
    border-bottom: 2px solid black;
}

.expert-myPage .tab-content {
    display: none;
}

.expert-myPage .tab-content.active {
    display: block;
}

.expert-myPage .table-container {
    overflow-x: auto;
}

.expert-myPage .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    border-collapse: collapse;
}

.expert-myPage .table th,
.expert-myPage .table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
    vertical-align: top;
}

.expert-myPage .table th {
    background-color: #f8f9fa;
}

.expert-myPage .btn-small {
    padding: 5px 10px;
    font-size: 12px;
}

.expert-myPage .btn-container .btn-secondary,
.expert-myPage .btn-container .btn-primary {
    margin-right: 5px;
}

.expert-myPage .card-header {
    font-weight: bold;
}

.expert-myPage .card-body .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.expert-myPage .card-body .input-group .form-control {
    flex: 1; /* 너비를 자동으로 조정하여 동일한 크기로 */
    margin-right: 10px;
}

.expert-myPage .card-body .input-group .input-group-append {
    display: flex;
    align-items: center;
}

.expert-myPage .card-body .input-group .remove {
    color: red;
    cursor: pointer;
    padding: 5px 10px;
}

.expert-myPage .card-body .input-group .remove:hover {
    color: darkred;
}

.expert-myPage .card-body hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.spec-list{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
.spec-list > div{}
.spec-list > .spec-type{
    font-size:16px;
}
.spec-list > .spec-details{
    font-size: 18px;
    font-weight: 700;
}
.append-spec{
    width: calc((20% - 10px));
    margin-right: 10px;
}
.append-spec.text{
    width: calc(60% - 50px);
    margin-right: 10px;
}
.append-spec select{
    height: 40px;
    border-radius: 5px;
}
.append-spec label{
    font-size: 14px;
}
.append-spec input{}
.input-group-append button{
    height: 40px;
}
.append-spec input#detail{
    height: 40px;
    margin-bottom: 0;
    border-radius: 5px;
    border-color: #ddd;
}
.expert-myPage .card-body .input-group{
    align-items: flex-end !important;
    margin-top: 30px;
}
.expert-myPage .card-body .input-group .remove{
    width: 40px;
    height: 40px;
}
.spec-year{
    color: #999;
}
.spec-year span{
    color: #999;
}
