/* *************************** 전문가 스케줄 관련 CSS 시작 ***************************** */

.schedule {
    /* 스케줄 컨테이너 전체 스타일 */
}

.schedule-title {
    /* 스케줄 타이틀 영역 스타일 */
    display: flex;
    padding: 20px;
    border-radius: 10px;
}

.schedule-title span {
    /* 각 타이틀 항목 스타일 */
    font-weight: bold;
    color: #fff;
    width: 20%;
    text-align: center;
}
.schedule-title span:nth-child(1){

}
.schedule-title span:nth-child(2){

}
.schedule-title span:nth-child(3){

}
.schedule-title span:nth-child(4){

}

.schedule-list {
    /* 스케줄 리스트 영역 스타일 */
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 625px;
}

.schedule-list li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin: 10px 0;
    border-radius: 10px;
}

.schedule-item {
    /* 스케줄 아이템 스타일 */
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: center;
    flex-direction: column;
}

.schedule-item figure {
    width: 50px;
    height: 50px;
    background-size: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;
}

.schedule-item figure img {
    /* 프로필 이미지 스타일 */
    width: 100%;
    object-fit: cover;
}

.schedule-item p{

}

.line-up{
    position: absolute;
    top: 0;
    right: 0;
}
.line-up button{

}
.schedule-btn{
    height: 40px;
    border: 1px solid #FFA45B;
    background: none;
    border-radius: 5px;
    transition: 0.3s ease;
    color: #ffa45b;
    padding: 10px;
}
.schedule-btn:hover{
    background: #ffa75b;
    color: #fff;
    border-color: #ffa75b;
}


/* 페이지네이션 */
ul.pagenation{
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

ul.pagenation li{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: 0.2s ease;
    margin: 0 5px;
}
ul.pagenation li span{
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.pagenation li.prev-btn{

}

ul.pagenation li.prev-btn span{

    background-image: url(/images/first-prev.svg);
    background-size: 100%;

}

ul.pagenation li.prev-btn2{}
ul.pagenation li.prev-btn2 span{
    background-image: url(/images/prev.svg);
    background-size: 100%;
}

ul.pagenation li.next-btn{}
ul.pagenation li.next-btn span{
    background-image: url(/images/next.svg);
    background-size: 100%;
}

ul.pagenation li.next-btn2{}
ul.pagenation li.next-btn2 span{
    background-image: url(/images/end-next.svg);
    background-size: 100%;
}

ul.pagenation li.number{

}
ul.pagenation li.number:hover span{
    color: #50B848;
}
ul.pagenation li.number:hover span.active{
    color: #50B848;
}
ul.pagenation li.number span{
    transition: 0.2s ease;
}

button.reservation-confirm:disabled{
    cursor: default;
    color: #999;
    background: none;
    border: 1px solid #999;
}
button.reservation-confirm:disabled:hover{
    color:#999;
    border-color: #999;
    background: none;
}

button.reservation-confirm{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    transition: 0.3s ease;
    color: #fff;
    background: #000;
    font-size: 14px;
}
button.reservation-confirm:hover{
    background: #000;
    color: #fff;
}
button.reservation-confirm.disabled{
    position: relative;
}
button.reservation-confirm.disabled:after{
    content:"";
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 2;
    cursor: default;
}

/* *************************** 전문가 스케줄 관련 CSS 끝 ***************************** */