.header_ex .icon {
    color: #333;
    font-size: 16px; /* Further reduced font size */
    margin-left: 10px; /* Further reduced margin */
    text-decoration: none;
}

.voucher-list {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 20px;
    background-color: white;
    width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.voucher-list h1 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 700;
}

.voucher-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Further reduced margin */
}

.voucher-header span {
    font-size: 14px; /* Further reduced font size */
}

.voucher-header button {
    width: 90px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.voucher-header button:hover {
    background: #FD780F;
}

.voucher-header button a{
    color: #fff;
}

.voucher-item {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.voucher-item h2 {
    font-size: 16px; /* Further reduced font size */
    margin-bottom: 6px; /* Further reduced margin */
}

.voucher-item table {
    width: 100%;
    border-collapse: collapse;
    height: auto; /* Set table height to auto */
}

.voucher-item table th,
.voucher-item table td {
    border: 1px solid #ddd;
    padding: 10px; /* Maintain padding for height */
    text-align: center;
    font-size: 14px;
    vertical-align: middle; /* Align text vertically in the middle of the cell */
    width: 33.33%;
}


.voucher-item table th {
    background: #FFA45B;
    color: #fff;
    border: none;
    font-size: 14px;
}
